{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
{% block add_meta %}
{% endblock add_meta %}
<meta name="viewport"  user-scalable="no">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{% block title %}i2aSolutions.com{% endblock title %}</title>
<link href="{% static "css/reset.css" %}" media="screen" rel="stylesheet" type="text/css" />
<link href="{% static "css/main.css" %}" media="screen" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript">
$(function() {
    $('#menulist a.submenu_trigger').click(function() {
        if (!$('#submenu').hasClass('active')) {
            $('#submenu').addClass('active');
            $('#submenu').addClass('animate');
        }
        return false;
    });
});
</script>
{% block head_extra %}
{% endblock head_extra %}
</head>
<body>
{% block preloader %}
{% endblock preloader %}
<div class="container">
    <div class="menu">
        <div class="holder">
            <a href="{% url "home" %}"><div class="logo"></div></a>
            <ul id="menulist">
                <li {% if menu_pos == "home"         %}class="active"{% endif %}><a href="{% url "home" %}">ABOUT US</a></li>
                <li {% if menu_pos == "solutions"   %}class="active"{% endif %}><a href="{% url "solutions" %}">SOLUTIONS</a></li>
                <li {% if menu_pos == "technologies" %}class="active"{% endif %}><a href="{% url "technologies" %}">TECHNOLOGIES</a></li>
                <li {% if menu_pos == "portfolio"    %}class="active"{% endif %}><a href="{% url "portfolio" %}">PORTFOLIO</a></li>
                <li {% if menu_pos == "careers"      %}class="active"{% endif %}><a href="{% url "careers" %}">CAREERS</a></li>
                <li {% if menu_pos == "contact"      %}class="active"{% endif %}><a href="{% url "contact" %}">CONTACT US</a></li>
            </ul>
        </div>
    </div>
    {% block header %}
    <div class="header default"></div>
    {% endblock header %}
</div>
<!-- CONTENT  -->

<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
                <h2>Idea</h2>
                {% block content.idea %}
                {% endblock content.idea %}
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            {% block content.solution %}
            {% endblock content.solution %}
        </div>
        <div class="wrapper">
            <h2>Technologies used</h2>
                {% block content.technologies %}
                {% endblock content.technologies %}
        </div>

    </div>
    <div class="box_white">{% block content.before_bottom %}{% endblock content.before_bottom %}</div>
    <div class="container2">
        <div class="box_grey">
            {% block content.bottom %}
            {% endblock content.bottom %}
        </div>
    </div>
</div>
</div>


<div class="container2">
<div class="box_color">
    <div class="wrapperbottom">
        <div class="logobottom--cont">
            <div class="logobottom"></div>
        </div>

        <div class="bottom--links">
            <div class="bottomcol"><h1><a href="{% url "portfolio" %}">Portfolio</a></h1></div>
            <div class="bottomcol"><h1><a href="{% url "technologies" %}">Technologies</a></h1></div>
            <div class="bottomcol"><h1><a href="{% url "careers" %}">Careers</a></h1></div>
            <div class="bottomcol"><h1><a href="{% url "contact" %}">Contact us</a></h1></div>
        </div>
    </div>

  <p style="color:#fff; width:100%; text-align:center;"> Copyright &copy; 2015, i2a Solutions Inc.</p>
</div>
</div>

</body>
</html>

