{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header careers"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Careers</div>
            <div style="clear:both;"></div>
            <h2>Careers</h2>
            <div>
                <p>At i2a Solutions, we recognize that our experts are central to both i2a's and our client's success. While our company is built on tech knowledge, experience and teamwork, the collaborative nature of our process depends equally on our employees' passion, inventiveness and personal integrity.<br><br>

                If you enjoy problem solving, look for a challenging and stimulating work environment, possess strong communication skills, and are passionate about web and mobile technologies, we would like to hear from you.</p>
            </div>

        </div>
    </div>

    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h3>Open positions</h3>
                
                <div class="column77">
                    <h3>Ruby on Rails Web Developer (San Diego, CA, USA)</h3>
                    <p>You would work closely with our product managers and designers to extend a large, high-visibility web application which is tightly integrated with a virtual world.</p><br><br>

                </div>
                <div class="column77">

                    <h3>Java Developer (Krakow, POLAND)</h3>
                    <p>We're looking for a talented Java Developer who has expertise building enterprise software with understanding of JBOSS application server, database optimization and message queues.</p><br><br>
                </div> 
                <div class="column77 ">
                    <h3>PHP Developer (San Diego, CA, USA)</h3>
                    <p>We are looking for a talented and experienced PHP Software Engineer with good communication skills and a proven track record in PHP Development. The position is a full-time position based in our San Diego office.</p>

                </div> <br><br>
                <div class="column77 ">

                    <h3>Senior Python Developer (Krakow, POLAND)</h3>
                    <p>We're looking for a Senior Python Developer who has expertise building large websites and scaling them with deep understanding of caching, databases, and optimization. The position is a full-time position based in our Krakow office.</p>
                </div> <br><br>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
