{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header contact"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Contact</div>
            <div style="clear:both;"></div>
            <div class="container2">
                <div class="box_white">
                    <div class="wrapper">
                        <h1>Contact</h1>

                            <br><br>
                        <center><h4>Need information? contact us - we love to talk!</h4><center>


            </div></div></div>

        </div>
        <div class="wrapper">

            <div class="column33">
                <img src="{% static "img/client.png" %}">
                <h4>New Customers</h4>
                <h4><a href="mailto:customers@i2asolutions.com">customers@i2asolutions.com</a></h4>

            </div>

            <div class="column33">
                <img src="{% static "img/job.png" %}">
                <h4>Jobs</h4>
                <h4><a href="mailto:jobs@i2asolutions.com">jobs@i2asolutions.com</a></h4>

            </div>

            <div class="column33">
                <img src="{% static "img/support.png" %}">
                <h4>Support</h4>
                <h4><a href="mailto:support@i2asolutions.com">support@i2asolutions.com</a></h4>


            </div>
        </div>

    </div>

</div>
{% endblock content %}
