{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}
<script type="text/javascript" src="{% static "js/jssor.core.js" %}"></script>
<script type="text/javascript" src="{% static "js/jssor.utils.js" %}"></script>
<script type="text/javascript" src="{% static "js/jssor.slider.js" %}"></script>
<script>
jQuery(document).ready(function ($) {
        var options = {
        $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
        $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
        $AutoPlayInterval: 0,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
        $PauseOnHover: 3,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, default value is 3

        $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
        $SlideEasing: $JssorEasing$.$EaseLinear,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
        $SlideDuration: 3000,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
        $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
        $SlideWidth: 140,                                   //[Optional] Width of every slide in pixels, default value is width of 'slides' container
        //$SlideHeight: 100,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
        $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
        $DisplayPieces: 7,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
        $ParkingPosition: 0,                              //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
        $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
        $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, default value is 1
        $DragOrientation: 1                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
        };

        var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales while window resizes
        function ScaleSlider() {
            var bodyWidth = document.body.clientWidth;
            if (bodyWidth)
                jssor_slider1.$SetScaleWidth(Math.min(bodyWidth, 980));
            else
                window.setTimeout(ScaleSlider, 30);
        }

        ScaleSlider();

        if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
            $(window).bind('resize', ScaleSlider);
        }
        //responsive code end
});
</script>

<script type="text/javascript">
$(window).load(function(){
        $('.preloader').fadeOut('slow',function(){$(this).remove();});
        //$('.imagess').fadeOut(function(){$(this).remove();});
        });
$(function() {



        $('.button').on('click', function() {
            $('.portfolio').removeClass('portfolio').addClass('portfolioanim');
            $('.button').removeClass('button').addClass('button_in');

            });

        $('.hide').on('click', function() {
            $('.button_in').removeClass('button_in').addClass('button');

            $('.portfolioanim').removeClass('portfolioanim').addClass('portfolio');
            });

        $('.buttonsmall').on('click', function() {
            $('.boxfly_in').removeClass('boxfly_in').addClass('boxfly');
            });
        $('.logotabel').on('click', function() {
            $('.portcontin').removeClass('portcontin').addClass('portcont');
            });
        $('.xbutton').on('click', function() {
                $('.portcont').removeClass('portcont').addClass('portcontin');
                });


});
</script>
{% endblock head_extra %}

{% block preloader %}
<div class="preloader"><div class="imagess"></div></div>
{% endblock preloader %}

{% block header %}
<div class="blur">
    <div class="light"></div>
    <div class="bar">
        <div class="slider_big"></div>
        <div class="bottom">
            <div class="pet">Companies Using Products We Developed</div>
            <div class="sliderlogo">
                <div id="slider1_container" style="position: relative; margin:0 auto; width: 980px; height: 150px; overflow: hidden; background:none;">

                    <!-- Loading Screen -->


                    <!-- Slides Container -->
                    <div u="slides" style="cursor: move; position: absolute; margin:0 auto; width: 980px; height: 150px; overflow: hidden;">
                        <div><img u="image" alt="Boston Bruins" src="{% static "img/small/bruins_logo.png" %}" /></div>
                        <div><img u="image" alt="Buffalo Sabres" src="{% static "img/small/sabres_logo.png" %}" /></div>
                        <div><img u="image" alt="MOM Method" src="{% static "img/small/mom_logo.png" %}" /></div>
                        <div><img u="image" alt="Denver Nuggets" src="{% static "img/small/nuggets_logo.png" %}" /></div>
                        <div><img u="image" alt="Florida Panthers" src="{% static "img/small/panthers_logo.png" %}" /></div>
                        <div><img u="image" alt="Colorado Avalanche" src="{% static "img/small/colorado_logo.png" %}" /></div>
                        <div><img u="image" alt="Tripbucket" src="{% static "img/small/tb_logo.png" %}" /></div>
                        <div><img u="image" alt="AT&T" src="{% static "img/small/atnt_logo.png" %}" /></div>
                        <div><img u="image" alt="Moasis" src="{% static "img/small/moasis.png" %}" /></div>
                         <div><img u="image" alt="Chase Bank" src="{% static "img/small/chase.png" %}" /></div>
                        <div><img u="image" alt="Well's Fargo" src="{% static "img/small/wells.png" %}" /></div>
                        <div><img u="image" alt="Paypal" src="{% static "img/small/paypal.png" %}" /></div>
                        <div><img u="image" alt="Fanserv" src="{% static "img/small/fanserv.png" %}" /></div>
                        <div><img u="image" alt="NBA" src="{% static "img/small/nba_corp.png" %}" /></div>
                        <div><img u="image" alt="TD Garden" src="{% static "img/small/tdg.png" %}" /></div>
                    </div>
                    <a style="display: none" href="http://www.jssor.com">jQuery Carousel</a>
                </div>
            </div>
        </div>	
    </div>

</div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <h1>Who we are</h1>

            <div class="column1">
                <p>
At i2a Solutions we are experts at transforming client ideas into robust consumer and enterprise applications. Our proven team of experts has designed and developed over 250 software products ranging from mobile and web applications to large-scale enterprise class solutions. Our unique breadth of knowledge and experience means we understand how to design and develop products with the highest levels usability, performance, scalability, and system integration.
</p>

            </div>
            <div class="column2">
                <p>Our team of usability specialists and software engineers, working in collaboration with you and your company, will recommend a strategic and innovative design plan to meet the specific needs of your product and provide options that will support its long-term success.<br><br>


                To ensure cost-effective and efficient solutions for our clients we use a blended team approach. Our U.S.-based design and management team is headquartered in San Diego, California, with additional engineering offices in Central Europe. </p>

            </div>
            <div class="wrapper">
                <div class="columnx">
                    <ul class="checks">
                        <li>Solutions that Grow Revenue</li>
                        <li>Focus on Client Success</li>		
                    </ul>

                </div>
                <div class="columny">
                    <ul class="checks">
                        <li>Complete End-to-End Products</li>			
                        <li>Cost-Conscious Approach</li>
                    </ul>
                </div>
            </div>	
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h1>Solutions</h1>
                <div class="quote">Advanced End-to-end solutions</div>
                <div class="column3">
                    <img src="{% static "img/icon_1.png" %}">
                    <h2>GREAT IDEAS ARE KEY TO YOUR SUCCESS</h2>
                    <p>We have successfully completed hundreds of projects of different sizes and complexity in various business and technology domains. We take the unique ideas from our clients and design a solution that will make them a success.</p>
                </div>
                <div class="column3">
                    <img src="{% static "img/icon_2.png" %}">
                    <h2>WE'LL TRANSFORM YOUR IDEAS FOR YOU</h2>
                    <p>We work hand-in-hand with our clients to strategically design and develop the best web and mobile applications on the market.   </p>
                </div>
                <div class="column4">
                    <img src="{% static "img/icon_3.png" %}">
                    <h2>THEN WE'LL HELP YOU MAKE IT A SUCCESS!</h2>
                    <p>Our commitment to long-term partnership is supported by full cycle development service covering every aspect of software production and implementation. We offer complete transparency of activities and deliverables, mature project management and seamless communication. We pride ourselves on engineering the best products on the market for our clients and remaining a strategic partner as their needs grow and change.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="container2">
        <div class="box_darkgrey">
            <div class="wrapper_color">
                <h1>Portfolio</h1>
                <p>  </p>
            </div>
            <div class="wrapper_portfolio">
                <div class="buttong2"></div>
                <div class="buttong2"></div>
                <div class="buttong2"></div>
                <div class="buttong"><a href="{% url "portfolio" %}">SHOW ME MORE</a></div>
            </div>
            <div class="wrapper_portfolio">
                <a href="{% url "portfolio-nba" %}" class="logotabel"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-nhl" %}" class="logotabel2"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-moasis" %}" class="logotabel3"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-atnt" %}" class="logotabel4"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-tdg" %}" class="logotabel5"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-mobile_check" %}" class="logotabel6"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-nba_dev" %}" class="logotabel7"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-independa" %}" class="logotabel8"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-tripbucket_web" %}" class="logotabel13"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-tripbucket_mobile" %}" class="logotabel14"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-fanserv" %}" class="logotabel10"><span class="portfoliotitle"></span></a>
                <a href="{% url "portfolio-billpay" %}" class="logotabel18"><span class="portfoliotitle"></span></a>
            </div>




        </div>

    </div>
</div>
{% endblock content %}
