{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header portfolio"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <h1>i2a Solutions Portfolio</h1>


            <p>i2a Solutions has successfully completed many projects for our customers in many different industries and technologies. Do not hesitate to contact us in case you need more info about case studies below, or would like to obtain a similar project.</p>
        </div>
    </div>
    <div class="container2">
        <div class="box_darkgrey">
            <div class="wrapper_color">
                <h1>Example Projects</h1>
                <p>  </p>
            </div>

            <div class="wrapper_portfolio">
                <a href="{% url "portfolio-nba" %}" class="logotabel"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-nhl" %}" class="logotabel2"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-moasis" %}" class="logotabel3"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-atnt" %}" class="logotabel4"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-tdg" %}" class="logotabel5"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-mobile_check" %}" class="logotabel6"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-nba_dev" %}" class="logotabel7"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-independa" %}" class="logotabel8"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-nba_rtp" %}" class="logotabel9"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-fanserv" %}" class="logotabel10"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-mom" %}" class="logotabel11"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-salesforce" %}" class="logotabel12"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-tripbucket_web" %}" class="logotabel13"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-tripbucket_mobile" %}" class="logotabel14"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-balboapark" %}" class="logotabel29"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-kms" %}" class="logotabel16"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-facial" %}" class="logotabel17"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-billpay" %}" class="logotabel18"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-socialjane" %}" class="logotabel19"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-telvise" %}" class="logotabel20"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-trekadoo" %}" class="logotabel21"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-impressme" %}" class="logotabel22"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-mflyer" %}" class="logotabel23"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-spendit" %}" class="logotabel24"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-creativeprocess" %}" class="logotabel25"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-fansircle" %}" class="logotabel26"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-nba_combine" %}" class="logotabel27"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-99brews" %}" class="logotabel28"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                <a href="{% url "portfolio-tripbucket_ad" %}" class="logotabel15"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                
                <a href="{% url "portfolio-usnp" %}" class="logotabel32"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>

                <a href="{% url "portfolio-battleship" %}" class="logotabel33"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>

                <a href="{% url "portfolio-sandiego-museum" %}" class="logotabel34"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>
                

                <a href="{% url "portfolio-lookbooker" %}" class="logotabel35"><span class="portfoliotitle"><img src="{% static "img/portfolio-placeholder.png" %}" alt=""></span></a>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
