{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header technologies"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_grey">
        <div class="wrapper">
            <div class="column1">
                <h3>Web Development in Python</h3>
                <ul class="tech_list">
                    <li><span class="tech small python"></span>Python</li>
                    <li><span class="tech small django"></span>Django</li>
                    <li><span class="tech small celery"></span>Celery</li>
                </ul>

                <h3>PHP Development</h3>
                <ul class="tech_list">
                    <li><span class="tech small php5"></span>PHP 5</li>
                    <li><span class="tech small joomla"></span>Joomla</li>
                    <li><span class="tech small symfony"></span>Symfony Framework</li>
                    <li><span class="tech small jquery"></span>jQuery</li>
                </ul>
                <h3>Databases</h3>
                <ul class="tech_list">
                    <li><span class="tech small cassandra"></span>Apache Cassandra</li>
                    <li><span class="tech small mysql"></span>MySQL</li>
                    <li><span class="tech small postgresql"></span>PostgreSQL</li>
                    <li><span class="tech small mssql"></span>Microsoft SQL Server</li>
                    <li><span class="tech small oracle"></span>Oracle</li>
                </ul>
                <h3>Microsoft technologies</h3>
                <ul class="tech_list">
                    <li><span class="tech small cpp"></span>C++</li>
                    <li><span class="tech small dotnet"></span>.NET Framework</li>
                    <li><span class="tech small aspnet"></span>ASP.NET</li>
                    <li><span class="tech small mssrs"></span>SQL Server Reporting Services</li>
                    <li><span class="tech small mssas"></span>SQL Server AS</li>
                    <li><span class="tech small mssis"></span>SQL Server Integration Services</li>
                    <li><span class="tech small miis"></span>IIS</li>
                    <li><span class="tech small mws"></span>Windows Server</li>
                </ul>
            </div>
            <div class="column2">
                <h3>Java Development</h3>
                <ul class="tech_list">
                    <li><span class="tech small java"></span>Java EE, Java SE, Java ME</li>
                    <li><span class="tech small terracotta"></span>Terracotta</li>
                    <li><span class="tech small jboss"></span>JBoss Application Server</li>
                    <li><span class="tech small tomcat"></span>Apache Tomcat</li>
                </ul>
                <h3>Mobile Development</h3>
                <ul class="tech_list">
                    <li><span class="tech small ios"></span>Apple iOS</li>
                    <li><span class="tech small dotnet"></span>Microsoft</li>
                    <li><span class="tech small android"></span>Android</li>
                    <li><span class="tech small blackberry"></span>Blackberry</li>
                </ul>
                <h3>Cloud Services / Web Servers</h3>
                <ul class="tech_list">
                    <li><span class="tech small aws"></span>Amazon AWS</li>
                    <li><span class="tech small msmq"></span>MS Message Queue</li>
                    <li><span class="tech small rabbitmq"></span>Rabbit Message Queue</li>
                    <li><span class="tech small solr"></span>Apache Solr</li>
                    <li><span class="tech small apache"></span>Apache Web Server</li>
                    <li><span class="tech small apex"></span>Salesforce Apex</li>
                    <li><span class="tech small nginx"></span>NGiNX</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
