{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header technologies"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Technologies</div>
            <div style="clear:both;"></div>
            <h2>Technologies</h2>

            <div>
                <p>TODO At i2a Solutions we are experts at transforming client ideas into robust consumer and enterprise applications. Our proven team of experts has designed and developed over 250 software products ranging from mobile and web applications to large-scale enterprise class solutions. Our unique breadth of knowledge and experience means we understand system design and develop products that integrate seamlessly with your company's existing infrastructure.

                We know every product is unique and demands a customized design and development approach.</p>

            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <div class="column1">
                    <h3>Web Development in Python</h3>
                    <ul class="tech_list">
                        <li><span class="tech small python"></span>Python</li>
                        <li><span class="tech small django"></span>Django</li>
                        <li><span class="tech small celery"></span>Celery</li>
                    </ul>

                    <h3>PHP Development</h3>
                    <ul class="tech_list">
                        <li><span class="tech small php5"></span>PHP 5</li>
                        <li><span class="tech small joomla"></span>Joomla</li>
                        <li><span class="tech small symfony"></span>Symfony Framework</li>
                        <li><span class="tech small jquery"></span>jQuery</li>
                    </ul>
                </div>
                <div class="column2">
                    <h3>Java Development</h3>
                    <ul class="tech_list">
                        <li><span class="tech small java"></span>Java EE, Java SE, Java ME</li>
                        <li><span class="tech small terracotta"></span>Terracotta</li>
                        <li><span class="tech small jboss"></span>JBoss Application Server</li>
                        <li><span class="tech small tomcat"></span>Apache Tomcat</li>
                    </ul>

                    <h3>Mobile Development</h3>
                    <ul class="tech_list">
                        <li><span class="tech small ios"></span>Apple iOS</li>
                        <li><span class="tech small android"></span>Android</li>
                        <li><span class="tech small blackberry"></span>Blackberry</li>
                        <li><span class="tech small symbian"></span>Nokia Symbian</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

