{% extends '../../base-portfolio.html' %}


{% block challenge %}
<p>Create a companion mobile <a href="/portfolio/location-platforms/tripbucket">TripBucket application</a> that would work on iPhones
and Android-based cell phones.</p>
{% endblock %}

{% block solution %}
<p>A website may be a great way to learn about a destination and plan a trip, but
people use a smartphone to document and accentuate the trip. We created
a <a href="/portfolio/mobile-apps">mobile application</a> travelers could use to record their trip. The app includes
the ability to add photos taken with a smartphone to dreams and to post status
updates on social media sites such as Twitter and Facebook. Travelers can use
the app to view more details about their destination including things to do and
events occurring nearby.</p>
<p>We tied the app experience to the TripBucket site. Users can sign-in to add
dreams to their “Bucket List” and check off Bucket List items as well as add
photos, tips and things to do to a specific dream. The app can also be used to
search for worldwide destinations and events.</p>
{% endblock %}  

{% block website_url %}http://www.tripbucket.com{% endblock %}
{% block website_anchor %}http://www.tripbucket.com{% endblock %}

{% block tech_python %}{{ block.super }}{% endblock %}
{% block tech_django %}{{ block.super }}{% endblock %}
{% block tech_celery %}{% endblock %}
{% block tech_mysql %}{% endblock %}
{% block tech_openstreetmap %}{% endblock %}
{% block tech_rabbitmq %}{% endblock %}
{% block tech_cassandra %}{% endblock %}
{% block tech_solr %}{% endblock %}
{% block tech_apache %}{% endblock %}
{% block tech_linux %}{% endblock %}
{% block tech_ios %}{{ block.super }}{% endblock %}
{% block tech_android %}{{ block.super }}{% endblock %}
{% block tech_java %}{% endblock %}
{% block tech_php %}{% endblock %}
{% block tech_symfony %}{% endblock %}
{% block tech_flash %}{% endblock %}
{% block tech_twilio %}{% endblock %}