{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header b3"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Challenge</h2>
                <div>
                    <p>TODO At i2a Solutions we are experts at transforming client ideas into robust consumer and enterprise applications. Our proven team of experts has designed and developed over 250 software products ranging from mobile and web applications to large-scale enterprise class solutions. Our unique breadth of knowledge and experience means we understand system design and develop products that integrate seamlessly with your company's existing infrastructure.

                    We know every product is unique and demands a customized design and development approach.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large python"></li>
                    <li class="tech large django"></li>
                    <li class="tech large celery"></li>
                    <li class="tech large python"></li>
                    <li class="tech large jboss"></li>
                    <li class="tech large django"></li>
                    <li class="tech large celery"></li>
                    <li class="tech large python"></li>
                    <li class="tech large django"></li>
                    <li class="tech large celery"></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>TODO At i2a Solutions we are experts at transforming client ideas into robust consumer and enterprise applications. Our proven team of experts has designed and developed over 250 software products ranging from mobile and web applications to large-scale enterprise class solutions.</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p>Our unique breadth of knowledge and experience means we understand system design and develop products that integrate seamlessly with your company's existing infrastructure.
                    We know every product is unique and demands a customized design and development approach.</p>

                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h1>Download</h1>
                <div class="tight">
                    <div class="column1">
                        <div class="download_box">
                            <h3>Download iPhone Apps</h3>
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                            </ul>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="download_box">
                            <h3>Download Android Apps</h3>
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


