{% extends 'base.html' %}
{% block content %}
<div class="content_wrapper">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="{{ SITE_MEDIA }}/img/slider_01.jpg" alt="Mobile applications" />
            <img src="{{ SITE_MEDIA }}/img/slider_02.jpg" alt="SaaS applications" />
            <img src="{{ SITE_MEDIA }}/img/slider_03.jpg" alt="Android, Blackberry, Symbian apps" />
        </div>
    </div>
    <div class="clear"></div>
    <div class="wrapper916" style="margin-top:60px; ">
    <h2 class="oval_bullet_header header">Companies Using <span class="blue">Our Products:</span></h2>
    </div>
 	<div lass="wrapper916" id="logoscroll" style="width: 100%; height: 74px; position: relative;">
    		<img src="{{ SITE_MEDIA }}/img/companies/bruins.png" alt="Boston Bruins" style="margin: 0px" />
    		<img src="{{ SITE_MEDIA }}/img/companies/att.png" alt="AT&T" />
    		<img src="{{ SITE_MEDIA }}/img/companies/det.png" alt="Detroit Pistons" />
    		<img src="{{ SITE_MEDIA }}/img/companies/chase.png" alt="Chase" />
    		<img src="{{ SITE_MEDIA }}/img/companies/moasis.png" alt="Moasis" />
    		<img src="{{ SITE_MEDIA }}/img/companies/paypal.png" alt="PayPal" />
    		<img src="{{ SITE_MEDIA }}/img/companies/tripbucket.png" alt="Tripbucket" />
    		<img src="{{ SITE_MEDIA }}/img/companies/qualcomm.png" alt="Qualcomm" />
    		<img src="{{ SITE_MEDIA }}/img/companies/boa.png" alt="Bank of America" />
    		<img src="{{ SITE_MEDIA }}/img/companies/mom.png" alt="the MOM method" />
    		<img src="{{ SITE_MEDIA }}/img/companies/nug.png" alt="Denver Nuggets" />
    		<img src="{{ SITE_MEDIA }}/img/companies/buf.png" alt="Buffalo Sabres" />
    		<img src="{{ SITE_MEDIA }}/img/companies/capone.png" alt="Capital One" />
    		<img src="{{ SITE_MEDIA }}/img/companies/dallas.png" alt="Dallas Stars" />
        </div>
    <div class="wrapper916" style="margin-top:60px; ">
    	<div class="about_us_left_col">
    		<div class="what_we_do">
            	<div class="orange_icon orange_icon_03 fl"></div>
                <div class="what_we_do_txt">
	                <h2 class="navy museo500 fs18">Web Applications</h2>
                    <a href="/portfolio/saas-applications" class="button" style="display:block;margin-top:25px;"><span class="button">See Portfolio</span></a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        	<div class="what_we_do">
            	<div class="orange_icon orange_icon_01 fl"></div>
                <div class="what_we_do_txt">
	                <h2 class="navy museo500 fs18">Mobile Applications</h2>
                    <a href="/portfolio/mobile-apps" class="button"><span class="button" style="margin-top:-8px;">See Portfolio</span></a>
                    <div class="clear"></div>
                </div>
            </div>            
            <div class="clear"></div>
            <div class="what_we_do">
            	<div class="orange_icon orange_icon_02 fl"></div>
                <div class="what_we_do_txt">
	                <h2 class="navy museo500 fs18">Location Platforms</h2>
	                <a href="/portfolio/location-platforms" class="button"><span class="button" style="margin-top:-8px;">See Portfolio</span></a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="what_we_do">
            	<div class="orange_icon orange_icon_05 fl"></div>
                <div class="what_we_do_txt">
	                <h2 class="navy museo500 fs18">Ad Platforms</h2>
                    <a href="/portfolio/ad-platforms" class="button"><span class="button" style="margin-top:-8px;">See Portfolio</span></a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="about_us_right_col">
	        <h1 class="header">Who is <span class="blue">i2aSolutions?</span></h1>
            <p>At i2a Solutions we are experts at transforming client ideas into robust consumer and <a href="/solutions-enterprise">enterprise applications</a>. Our proven team of experts has designed and developed over 250 software products ranging from <a href="/solutions-mobile">mobile</a> and <a href="/solutions-web">web applications</a> to large-scale enterprise class solutions. Our unique breadth of knowledge and experience means we understand system design and develop products that integrate seamlessly with your company's existing infrastructure.</p>
            <h2 class="header">What can we <span class="blue">do for you?</span></h2>
            <p>We know every product is unique and demands a customized design and development approach. Our team of usability specialists and software engineers, working in collaboration with you and your company, will recommend a strategic and innovative design plan to meet the specific needs of your product as well as provide options that will support its long-term success.</p>
            <ul>
                <li>Cost-Conscious Approach</li>
                <li>Complete End-to-End Solutions</li>
                <li>Solutions that Grow Your Business </li>
                <li>Focused on Our Client Success</li>
            </ul>
            <p>To ensure cost-effective and efficient solutions for our clients we use a <a href="/process">blended team approach</a>. Our U.S.-based design and management team is headquartered in San Diego, California and have additional engineering offices in Central Europe.</p>
        </div>
        <div class="clear"></div>
    </div>
    
     <div class="wrapper916">
        <div class="bulb"></div>
        <div class="oval_bullets">
        	<div class="oval_bullet_container">
                <div class="oval_bullet">1</div>
                <div class="oval_bullet_txt">
                    <h2 class="oval_bullet_header header">Great ideas are <span class="blue">key to your success,</span></h2>
                    <p>We have successfully completed hundreds of projects of different sizes and complexity in various business and technology domains. We take the unique ideas from our clients and design a solution that will make them a success.</p>
                </div>
            </div>
            <div class="cl"></div>
            <div class="oval_bullet_container">
                <div class="oval_bullet">2</div>
                <div class="oval_bullet_txt">
                    <h2 class="oval_bullet_header header">We'll transform <span class="blue">your ideas for you,</span></h2>
                    <p>We work with our clients to transform their ideas into the highest quality <a href="/solutions-web">web</a> and <a href="/solutions-mobile">mobile applications</a>. We are capable of executing the most complex and ambitious projects, ensuring high solution usability, maintainability, performance, scalability and SEO.</p>
                </div>
            </div>
            <div class="cl"></div>
            <div class="oval_bullet_container">
                <div class="oval_bullet">3</div>
                <div class="oval_bullet_txt">
                    <h2 class="oval_bullet_header header">Then we'll help you <span class="blue">make it a success!</span></h2>
                    <p>Our commitment to long-term partnership is supported by full cycle servicing covering every aspect of software production and implementation. We offer complete transparency of activities and deliverables, mature project management and seamless communication.</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
     <div class="wrapper916" style="margin-top:30px;">
    	<div class="header fs18 blue">Featured Projects</div>
        <div class="project_row">
            
            {% for project in featured|slice:"4" %}
	            <div class="project">
	            	<a href="{{ project.url }}">
	                <span class="project_img">
	                	<img src="{{ project.img_thumb }}" alt="i2aSolutions Project"/>
	                    <span class="project_hover"></span>
	                    <strong class="project_caption">{{ project.caption }}</strong>
	                </span>
	                </a>
	                <div class="project_img_shadow"></div>
	            </div>
            {% endfor %}
             
        </div>
        <div class="clear"></div>
    </div>

    <div class="wrapper916" style="margin-top:40px;">
    	<div class="col2_left">
        	<h3 class="header fs18 blue">Our Domain Expertise</h3>
            <p>i2a Solutions brings a broad horizontal expertise to companies who are planning to launch new web and mobile products. <a href="/expertise">Expertise</a> includes social networking, healthcare, advertisement, entertainment, travel, sports teams and scheduling.</p>
        </div>
        <div class="col2_right">
        	<h3 class="header fs18 blue">Our Technical Expertise</h3>
            <p>i2a Solutions has extensive experience in various web and mobile technologies, enabling us to offer a multitude of choices to customers along with advice in selecting the most suitable options.</p>
        </div>
        <div class="clear"></div>
    </div>

</div> <!-- class=content_wrapper -->
{% endblock %}

{% block extra_css %}
<link href="{{ SITE_MEDIA }}/css/smoothDivScroll.css" type="text/css" rel="stylesheet"/>
<style type="text/css">
#logoscroll div.scrollableArea img {
 position: relative;
 float: none;
 margin: 0;
 padding: 0 10px 10px 10px;
 vertical-align: middle;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -o-user-select: none;
 user-select: none;
}
</style>
{% endblock extra_css %}

{% block extra_js %}
<script type="text/javascript" src="{{ SITE_MEDIA }}/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="{{ SITE_MEDIA }}/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{ SITE_MEDIA }}/js/jquery.smoothdivscroll-1.3-min.js"></script>
<!-- Plugin initialization -->
<script type="text/javascript">
// Initialize the plugin with no custom options
$(document).ready(function () {
  // None of the options are set
  $("div#logoscroll").smoothDivScroll({
    manualContinuousScrolling: true,
    autoScrollingMode: "onStart",
    autoScrollingStep: 1,
    autoScrollingInterval: 30,
    scrollToAnimationDuration: 1000
   });
});
</script>
{% endblock extra_js %}
