{% extends 'base.html' %}

{% block meta_title %}i2aSolutions - Our Process{% endblock %}
{% block meta_desc %}We believe building great software has more to do with tailoring the right approach than hammering down one rigid process.{% endblock %}

{% block content %}
<div class="content_wrapper">
    
    <div class="page_title"><h1>Our Process</h1></div>
    
    <div class="pagination_container">
        <div class="pagination" style="z-index:2;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/">Home page</a>
            <span class="pagination_right"></span>
        </div>
        <div class="pagination pagination_active" style="z-index:1;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/process">Our process</a>
            <span class="pagination_right"></span>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="wrapper916" style="margin-top:40px;">
        <div class="page_left_col">
            <h2 class="header fs18 orange">Tailoring the right approach for your Company</h2>
            <p>We believe building great software has more to do with tailoring the right approach than hammering down one rigid process. The ISO process followed by Big Company, Inc. and the agile methods of Startup.com work for them, but it may not work for you. We believe process is essential to the successful completion of any project. We just know a "one-size fits all" approach isn't always the best option for our clients. </p>
            <p>Every client and project is different and has specific constraints that should be analyzed to determine an appropriate methodology or combination of methodologies to utilize. Our approach is to find the methodology that fits our clients' environment and will guarantee a successful project. Your outsourcing partner needs to work with you and your company's needs. A partner who has too rigid of a process (or not enough) will not provide the product you want on time or within budget.</p>
            <p>Building great software doesn't start with a singular approach, it starts with the right one. Finding the right path to your products success is one of the first things we share with you.</p>
    		<h2 class="header fs18 orange">Philosophies at the Core of our Business</h2>
            <p>The customized process we create has proven to be essential in order to meet challenging project needs as well as to ensure effective management and communication over multidisciplinary teams working either all in one room or spread around the globe. A well designed process must balance the needs of many diverse stakeholders while meeting the needs of a broad range of users from executives to task workers to customers. The best process approach will ensure effective management over multidisciplinary teams that could be working anywhere in the world.</p>   
			<p>Our apporach utilizes the following principals:
            <ul>
                <li><h3 style="font-weight:bold;">Build a Solid Foundation:</h3> Successful management of software design and development projects begins with an accurate estimation of costs and schedules backed by efficient resource utilization and risk management to track specified delivery requirements. We believe in gathering all the known high-level requirements at the beginning of every project. This ensures the product is initially designed to handle future needs as smoothly as possible.</li>
                <li><h3 style="font-weight:bold;">Solid Management Practices:</h3> We have found that a successful project outcome mandates the use of disciplined project management practices. A disciplined approach provides effective team communication and structure to maintain control over a project and ensure they are completed on time and within budget. Every project and client is unique so we adjust our management strategies to address their unique characteristics.</li>
                <li><h3 style="font-weight:bold;">Iterative Lifecycle Management:</h3> Our iterative processes are flexible and have at its core constant project status monitoring, refinement and validation. This helps ensure that the completed project is aligned with our clients' objectives.</li>
                <li><h3 style="font-weight:bold;">Focus on Quality:</h3> Our main goal is to contribute to our clients' success by ensuring high standards of quality throughout our design and development process. We utilize a number of quality tools in all of our projects including: user and technical requirements validation, usability testing, software test plans, test cases, code reviews and acceptance test plans.</li>
                <li><h3 style="font-weight:bold;">Client Participation:</h3> We know application development is an iterative process. Our approach offers numerous opportunities to review work progress. Ultimately, we are creating products for your company and we believe frequent communication and scheduled client participation is a key factor to any product's success.</li>
                <li><h3 style="font-weight:bold;">Frequent Milestones:</h3> We believe in creating project plans focused on milestones that occur at least every 2-3 weeks to help keep projects moving forward and on task. However, when needed we can quickly shift into using the Agile method (SCRUM is our preferred methodology). This assures that projects do not get off track due to miscommunication and other issues related to remote working environments.</li>
                <li><h3 style="font-weight:bold;">Account for Different Perspectives:</h3> The creation of any system should not just be approached from an engineering perspective, but should also address the needs of your business and the user experience. Our approach ensures an end product that will satisfy the requirements from all stakeholders and is easily adopted by end users.</li>
			</ul>
        </div>
        <div class="page_right_col page_right_col_no_bg">
            <div class="orange_icon orange_icon_04" style="float:none; margin:0px auto;"></div>
            <div class="orange_icon orange_icon_06" style="float:none; margin:222px auto 0px;"></div>
        </div>
        <div class="clear"></div>
        <div class="like_and_share">
        </div>
    </div>
</div>
{% endblock %}

