{% extends 'base.html' %}

{% block meta_title %}i2aSolutions - Location Based Services{% endblock %}
{% block meta_desc %}The global market of location-based services (LBS) and Geolocation applications are enjoying strong growth. LBS services are designed to supply users of GPS- and Internet-enabled mobile devices with appropriate, timely and place-specific content. {% endblock %}
{% block extra_js %}<script type="text/javascript" src="{{ SITE_MEDIA }}/js/no-minify/solutions_bar.js"></script>{% endblock %}

{% block content %}
<div class="content_wrapper">
    <div class="page_title"><h1>Location Based Services</h1></div>
    
    <div class="pagination_container">
        <div class="pagination" style="z-index:2;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/">Home page</a>
            <span class="pagination_right"></span>
        </div>
        <div class="pagination pagination_active" style="z-index:1;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/solutions-location-platforms">Location Based Services</a>
            <span class="pagination_right"></span>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="wrapper916" style="margin-top:20px;">
    	<h2 class="header fs18 orange">Location Based Services</h2>
    	<p>The global market of location-based services (LBS) and Geolocation applications are enjoying strong growth. LBS services are designed to supply users of GPS- and Internet-enabled mobile devices with appropriate, timely and place-specific content. Geolocation is a forward-looking technology that provides the ability to track locations of users and follow their movements.</p>
    	<p>LBS services allow businesses to provide offers of locally relevant products and services when consumers are most susceptible to make purchases. Whether you want to create a <a href="/solutions-web">website application</a> that uses location based technology to enhance the user experience or build a location based mobile application we have the expertise to make it an engaging and successful product. We work with your company to get the product requirements and evaluate whether commercial or open source mapping solutions would best serve the product.</p>
    	<div class="header fs18">Featured projects</div>
		<div class="project_row">
            {% for project in projects_location  %}
	            <div class="project">
	            	<a href="{{ project.url }}">
	                <div class="project_img">
	                	<img src="{{ project.img_thumb }}" />
	                    <span class="project_hover"></span>
	                    <strong class="project_caption">{{ project.caption }}</strong>
	                </div>
	                </a>
	                <div class="project_img_shadow"></div>
	            </div>
            {% endfor %}
        </div>
        <div class="clear"></div>
        <p>Using commercial mapping solutions such as Microsoft MapPoint, Bing Maps, and Google Maps we can create turnkey location based applications that work seamlessly with existing services. For a more customized location based application complete with rich layers and features we use open source mapping products such as OpenStreetMap, OpenLayers, GeoServer, and Mapnick. Additionally, we can enable geocoding into any of our location-based applications or integrate maps into existing websites and web-based applications. Using all the standardized API’s we can easily integrate popular social networking features such as Yelp, Facebook, FourSquare, and Twitter.</p>
        <p>If your company already has an application that needs to be monetized we can utilize our expertise with location detection technology to deliver location specific advertising to the users of the application.</p>
        <div class="page_full" style="margin-top:35px;">
	        <div class="page_2_col_container">
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Location-Based Mobile Advertising</h3>
		            <p>A growing mobile advertising segment is the ability to deliver location-based ads to mobile devices. Mobile advertising uses location based services to deliver specific ads geared to the location of a mobile device and preferences. Whether it’s delivering a redeemable deal for a nearby restaurant or providing ads for stores in a larger geographical location, we can help your company expand its reach through location-based mobile advertising. We works with all the mobile platforms and can provide your company the ability to integrate location-based ads into virtually any mobile application.</p>
		        </div>
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Local Businesses & Events Location-Based Services</h3>
		            <p>As people become more dependent on their mobile devices, the ability to check-in to a location is becoming a sought after feature. We can build mobile and web-based apps that provide this functionality and include other features such as a reward system and a customer loyalty program. We can also use the location-based details to connect users with others in the area or provide location-based deals and offers.</p>
		        </div>
		        <div class="clear"></div>
	        </div>
	        <div class="page_2_col_container" style="margin-top:35px;">
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Social Media & Geotagging</h3>
		            <p>Sharing location details is an essential part of the social media experience. We can incorporate the ability to include location details from your application when posting to social media sites such as Google+, Twitter, or Facebook. By incorporating geotagging into application features we can create a robust web-based application that can provide real-time location-based details.</p>
		        </div>
		        <div class="page_2_col">
		        	<h3 class="header fs16 blue">Location-Based Services: ecommerce </h3>
		            <p>Elevate your business with mobile payments based on location. We can create peer-to-peer solutions that would allow users the ability to make payments or transfer money based on location vicinity. By incorporating location-based services into mobile commerce, we can extend the payment platform beyond the realm of vendor and customer.</p>
		        </div>
		        <div class="clear"></div>
	        </div>
	        <div class="page_2_col_container" style="margin-top:35px;">
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Mobile Asset Solutions</h3>
		            <p>Keeping track of assets can be an expensive proposition. Deploying location-based services can help eliminate the high costs traditionally associated with asset management systems. We can create a system to help the location of your company’s assets. This solution will monitor where assets are located, project arrival times, and provide accurate delivery information.</p>
		        </div>
		        <div class="clear"></div>
	        </div>
	    </div>
    </div>
</div>
{% endblock %}
