{% extends 'base.html' %}

{% block meta_title %}i2aSolutions - Ad delivery Solutions{% endblock %}
{% block meta_desc %}We create mobile marketing and social media marketing solutions that provides advertisers (small businesses, agencies, and marketers) the ability to target a specific customer based on their location or specific application platforms (sports, travel, etc.).{% endblock %}
{% block extra_js %}<script type="text/javascript" src="{{ SITE_MEDIA }}/js/no-minify/solutions_bar.js"></script>{% endblock %}
{% block content %}
<div class="content_wrapper">
    <div class="page_title"><h1>Ad delivery</h1></div>
    
    <div class="pagination_container">
        <div class="pagination" style="z-index:2;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/">Home page</a>
            <span class="pagination_right"></span>
        </div>
        <div class="pagination pagination_active" style="z-index:1;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/solutions-ad-delivery">Ad delivery</a>
            <span class="pagination_right"></span>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="wrapper916" style="margin-top:20px;">
    	<h2 class="header fs18 orange">Ad Delivery Solutions</h2>
    	<p>We create mobile marketing and social media marketing solutions that provides advertisers (small businesses, agencies, and marketers) the ability to target a specific customer based on their location or specific application platforms (sports, travel, etc.). Our easy to use solutions handle all types of ad types - banners, interstitials and video ads.</p>
    	<div class="header fs18">Featured projects</div>
		<div class="project_row">
            {% for project in projects.values  %}
            	{% if project.solution_ad_delivery %}
	            <div class="project">
	            	<a href="{{ project.url }}">
	                <div class="project_img">
	                	<img src="{{ project.img_thumb }}" />
	                    <span class="project_hover"></span>
	                    <strong class="project_caption">{{ project.caption }}</strong>
	                </div>
	                </a>
	                <div class="project_img_shadow"></div>
	            </div>
	            {% endif %}
            {% endfor %}
        </div>
        <div class="clear"></div>
        
        
        <div class="page_full" style="margin-top:35px;">
	        <div class="page_2_col_container">
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Easy Integrations</h3>
		            <p>It can be easily integrated with different internet content platforms, especially online video players. It provides detailed reporting on impressions, clicks and click-through rate by advertiser, campaign, creative, player and date. The ad server provides a full array of targeting and delivery parameters.</p>
		        </div>
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Extending Ad Options</h3>
		            <p>Our expertise goes beyond delivering <a href="/solutions-location-platforms">location-specific ads</a>, we also built-in the flexibility to integrate additional features into the ad such as the ability to place a call, see a location on a map, or even use a coupon.</p>
		        </div>
		        <div class="clear"></div>
	        </div>
	        <div class="page_2_col_container" style="margin-top:20px;">
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Targeting</h3>
		            <p>In addition to location parameters, users of the system can target consumers with specific interests. By implementing an auction-based bidding system companies can also decide how much they want to spend to achieve the reach they want. Our solutions allow a publisher to manage any number of advertisers and campaigns using fixed price, CPM or CPC ad models.</p>
		        </div>
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Reporting</h3>
		            <p>Our solutions provides detailed reporting on impressions, clicks and click-through rate by advertiser, campaign, creative, player and date. </p>
		        </div>
		        <div class="clear"></div>
	        </div>
	    </div>
    </div>
</div>
{% endblock %}
