{% extends 'base.html' %}

{% block meta_title %}i2aSolutions - Telephony Applications{% endblock %}
{% block meta_desc %}There are multiple ways we can help companies looking to enhance web applications with telephony solutions. We will use our years of expertise help companies make a call center more effective, build VOIP applications, and enhance existing interactive voice response (IVR) systems with features such as voice-to-text or text-to-speech, or deploy telephony applications to consumer facing websites.{% endblock %}
{% block extra_js %}<script type="text/javascript" src="{{ SITE_MEDIA }}/js/no-minify/solutions_bar.js"></script>{% endblock %}

{% block content %}
<div class="content_wrapper">
    <div class="page_title"><h1>Telephony Applications</h1></div>
    
    <div class="pagination_container">
        <div class="pagination" style="z-index:2;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/">Home page</a>
            <span class="pagination_right"></span>
        </div>
        <div class="pagination pagination_active" style="z-index:1;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/solutions-telephony">Telephony Applications</a>
            <span class="pagination_right"></span>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="wrapper916" style="margin-top:20px;">
    	<h2 class="header fs18 orange">Telephony Applications</h2>
    	<p>There are multiple ways we can help companies looking to enhance web applications with telephony solutions. We will use our years of expertise help companies make a call center more effective, build VOIP applications, and enhance existing interactive voice response (IVR) systems with features such as voice-to-text or text-to-speech, or deploy telephony applications to consumer facing websites.</p>
    	<div class="header fs18">Featured projects</div>
		<div class="project_row">
            {% for project in projects.values  %}
            	{% if project.solution_telephony %}
	            <div class="project">
	            	<a href="{{ project.url }}">
	                <div class="project_img">
	                	<img src="{{ project.img_thumb }}" />
	                    <span class="project_hover"></span>
	                    <strong class="project_caption">{{ project.caption }}</strong>
	                </div>
	                </a>
	                <div class="project_img_shadow"></div>
	            </div>
	            {% endif %}
            {% endfor %}
        </div>
        <div class="clear"></div>
        <div class="page_full" style="margin-top:35px;">
	        <div class="page_2_col_container">
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Telephony Applications</h3>
		            <p>On a smaller scale, if your company wants to implement online chat into an e-commerce site, we can build a web application that easily integrates into your existing website architecture and store the collected data from the chat in a centralized repository. We can also add mobile functionality to existing telephony systems by creating a web application that sends alerts to cell phones via text messaging (SMS).</p>
		        </div>
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Text-to-Speech and Interactive Voice Response (IVR) System Integration</h3>
		            <p>We know getting the most out of an IVR system helps a company improve customer service and ultimately lower costs of operation. Our experts will evaluate existing IVR systems and build easy-to-integrate web applications utilizing VoiceXML to create a more effective IVR setup for your company. We can also help a company improve its existing voice-to-text or text-to-speech implementations or help it deploy these features to an existing IVR system.</p>
		        </div>
		        <div class="clear"></div>
	        </div>
	        <div class="page_2_col_container" style="margin-top:35px;">
	        	<div class="page_2_col">
		        	<h3 class="header fs16 blue">Call Center and VOIP Applications</h3>
		            <p>We have an extensive history working with and building VOIP applications with Avaya and Cisco phone systems. To help you get the most out of those systems we will evaluate your company’s existing call center systems and VOIP applications to determine how they can become more efficient both in terms of storing and accessing the data collected by those systems and routing the calls more effectively through your company’s current infrastructure. Based on those observations we can build a web application designed to increase productivity that will work with your existing telephony system.</p>
		        </div>
		        <div class="clear"></div>
	        </div>
	    </div>
    </div>
</div>
{% endblock %}
