{% extends 'base.html' %}

{% block meta_title %}i2aSolutions - Technologies{% endblock %}
{% block meta_desc %}At i2aSolutions we know many advanced technologies to complete given challenge. We mostly use Python and Django for our projects.{% endblock %}

{% block content %}
<div class="content_wrapper">
    
    <div class="page_title"><h1>Technologies</h1></div>
    
    <div class="pagination_container">
        <div class="pagination" style="z-index:4;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/">Home page</a>
            <span class="pagination_right"></span>
        </div>
        <div class="pagination pagination_active" style="z-index:3;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/technologies">Technologies</a>
            <span class="pagination_right"></span>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="wrapper916" style="margin-top:40px;">
    	<h2 class="header fs18 orange">Web Application Development</h2>
    	<p>Below you can find our technologies we use for our projects. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labori.</p>
    	<div class="page_2_col_container" style="margin-top:40px;">
	        <div class="page_2_col">
		    	<h2 class="header fs18">Python technologies</h2>
		    	<ul class="technology_list">
		    		<li>Python</li>
		    		<li>Django framework</li>
		    		<li>Celery framework</li>
		    		<li>MySQL</li>
		    		<li>Open Street Map</li>
		    		<li>Rabbit MQ</li>
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_01 technology tooltip" title="Python"></span></li>
			        <li><span class="tech_used tech_used_02 technology tooltip" title="Django framework"></span></li>
			        <li><span class="tech_used tech_used_03 technology tooltip" title="Celery framework"></span></li>
			        <li><span class="tech_used tech_used_04 technology tooltip" title="MySQL"></span></li>
			        <li><span class="tech_used tech_used_05 technology tooltip" title="Open Street Map"></span></li>
			        <li><span class="tech_used tech_used_06 technology tooltip" title="Rabbit MQ"></span></li>
		        </ul>
		    </div>
		    <div class="page_2_col">
		    	<h2 class="header fs18">Category name 02</h2>
		    	<ul class="technology_list">
		    		<li>Cassandra</li>
		    		<li>Apache Solr</li>
		    		<li>Apache Web Server</li>
		    		<li>Linux OS</li>
		    		<li>iOS 6</li>
		    		<li>Android</li>
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_07 technology tooltip" title="Cassandra"></span></li>
			        <li><span class="tech_used tech_used_08 technology tooltip" title="Apache Solr"></span></li>
			        <li><span class="tech_used tech_used_09 technology tooltip" title="Apache Web Server"></span></li>
			        <li><span class="tech_used tech_used_10 technology tooltip" title="Linux OS"></span></li>
			        <li><span class="tech_used tech_used_11 technology tooltip" title="iOS 6"></span></li>
			        <li><span class="tech_used tech_used_12 technology tooltip" title="Android"></span></li>
		        </ul>
		    </div>
		    <div class="clear"></div>
		</div>
		
		<div class="page_2_col_container" style="margin-top:35px;">
	        <div class="page_2_col">
		    	<h2 class="header fs18">Category name 03</h2>
		    	<ul class="technology_list">
		    		<li>Java</li>
		    		<li>PHP 5</li>
		    		<li>Symfony Framework</li>
		    		<li>Flash</li>
		    		<li>Twilio</li>
		    		<li>Blackberry</li>
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_13 technology tooltip" title="Java"></span></li>
			        <li><span class="tech_used tech_used_14 technology tooltip" title="PHP 5"></span></li>
			        <li><span class="tech_used tech_used_15 technology tooltip" title="Symfony Framework"></span></li>
			        <li><span class="tech_used tech_used_16 technology tooltip" title="Flash"></span></li>
			        <li><span class="tech_used tech_used_17 technology tooltip" title="Twilio"></span></li>
			        <li><span class="tech_used tech_used_18 technology tooltip" title="Blackberry"></span></li>
		        </ul>
		    </div>
		    <div class="page_2_col">
		    	<h2 class="header fs18">Category name 04</h2>
		    	<ul class="technology_list">
		    		<li>PostgreSQL database</li>
		    		<li>PostGIS Geospatial extensions</li>
		    		<li>Salesforce Apex</li>
		    		<li>Symbian</li>
		    		<li>.NET Compact Framework</li>
		    		<li>Skype API</li>
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_19 technology tooltip" title="PostgreSQL database"></span></li>
			        <li><span class="tech_used tech_used_20 technology tooltip" title="PostGIS Geospatial extensions"></span></li>
			        <li><span class="tech_used tech_used_21 technology tooltip" title="Salesforce Apex"></span></li>
			        <li><span class="tech_used tech_used_22 technology tooltip" title="Symbian"></span></li>
			        <li><span class="tech_used tech_used_23 technology tooltip" title=".NET Compact Framework"></span></li>
			        <li><span class="tech_used tech_used_24 technology tooltip" title="Skype API"></span></li>
		        </ul>
		    </div>
		    <div class="clear"></div>
		</div>
		
		<div class="page_2_col_container" style="margin-top:35px;">
	        <div class="page_2_col">
		    	<h2 class="header fs18">Category name 05</h2>
		    	<ul class="technology_list">
		    		<li>jQuery</li>
		    		<li>Oracle Rest Web Services</li>
		    		<li>MSSql</li>
		    		<li>OpenCV</li>
		    		<li>NGiNX</li>
		    		<li>JBoss Application Server</li>    
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_25 technology tooltip" title="jQuery"></span></li>
			        <li><span class="tech_used tech_used_26 technology tooltip" title="Oracle Rest Web Services"></span></li>
			        <li><span class="tech_used tech_used_27 technology tooltip" title="MSSql"></span></li>
			        <li><span class="tech_used tech_used_28 technology tooltip" title="OpenCV"></span></li>
			        <li><span class="tech_used tech_used_29 technology tooltip" title="NGiNX"></span></li>
			        <li><span class="tech_used tech_used_30 technology tooltip" title="JBoss Application Server"></span></li>
		        </ul>
		    </div>
		    <div class="page_2_col">
		    	<h2 class="header fs18">Category name 04</h2>
		    	<ul class="technology_list">
		    		<li>Apache Tomcat</li>
		    		<li>Terracotta</li>
		    		<li>Amazon AWS</li>
		    		<li>Joomla</li>
		    		<li>C++</li>
		    		<li>ASP.NET</li>
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_31 technology tooltip" title="Apache Tomcat"></span></li>
			        <li><span class="tech_used tech_used_32 technology tooltip" title="Terracotta"></span></li>
			        <li><span class="tech_used tech_used_33 technology tooltip" title="Amazon AWS"></span></li>
			        <li><span class="tech_used tech_used_34 technology tooltip" title="Joomla"></span></li>
			        <li><span class="tech_used tech_used_35 technology tooltip" title="C++"></span></li>
			        <li><span class="tech_used tech_used_36 technology tooltip" title="ASP.NET"></span></li>
		        </ul>
		    </div>
		    <div class="clear"></div>
		</div>
		
		<div class="page_2_col_container" style="margin-top:35px;">
	        <div class="page_2_col">
		    	<h2 class="header fs18">Category name 05</h2>
		    	<ul class="technology_list">
		    		<li>MSMQ</li>
		    		<li>Microsoft SSRS</li>
		    		<li>Microsoft SSAS</li>
		    		<li>Microsoft SSIS</li>
		    		<li>Microsoft IIS</li>
		    		<li>Microsoft Windows Server</li> 
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_37 technology tooltip" title="MSMQ"></span></li>
			        <li><span class="tech_used tech_used_38 technology tooltip" title="Microsoft SSRS"></span></li>
			        <li><span class="tech_used tech_used_39 technology tooltip" title="Microsoft SSAS"></span></li>
			        <li><span class="tech_used tech_used_40 technology tooltip" title="Microsoft SSIS"></span></li>
			        <li><span class="tech_used tech_used_41 technology tooltip" title="Microsoft IIS"></span></li>
			        <li><span class="tech_used tech_used_42 technology tooltip" title="Microsoft Windows Server"></span></li>
		        </ul>
		    </div>
		    <div class="clear"></div>
		</div>
		
    </div>
</div>
{% endblock %}

