{% extends 'base.html' %}

{% block meta_title %}i2aSolutions - Technologies{% endblock %}
{% block meta_desc %}At i2aSolutions we know many advanced technologies to complete given challenge. We mostly use Python and Django for our projects.{% endblock %}

{% block content %}
<div class="content_wrapper">
    
    <div class="page_title"><h1>Technologies</h1></div>
    
    <div class="pagination_container">
        <div class="pagination" style="z-index:4;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/">Home page</a>
            <span class="pagination_right"></span>
        </div>
        <div class="pagination pagination_active" style="z-index:3;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/technologies">Technologies</a>
            <span class="pagination_right"></span>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="wrapper916" style="margin-top:40px;">
    	<div class="page_2_col_container" style="margin-top:40px;">
	        <div class="page_2_col">
		    	<h2 class="header fs18">Web Development with Python</h2>
		    	<ul class="technology_list">
		    		<li>Python</li>
		    		<li>Django framework</li>
		    		<li>Celery framework</li>
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_01 technology tooltip" title="Python"></span></li>
			        <li><span class="tech_used tech_used_02 technology tooltip" title="Django framework"></span></li>
			        <li><span class="tech_used tech_used_03 technology tooltip" title="Celery framework"></span></li>
		        </ul>
		    </div>
		    <div class="page_2_col">
		    	<h2 class="header fs18">Java Development</h2>
		    	<ul class="technology_list">
		    		<li>Java EE, Java SE, Java ME</li>
		    		<li>Terracotta</li>
		    		<li>JBoss Application Server</li>
		    		<li>Apache Tomcat</li>		    		
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_13 technology tooltip" title="Java"></span></li>
			    	<li><span class="tech_used tech_used_32 technology tooltip" title="Terracotta"></span></li>
			    	<li><span class="tech_used tech_used_30 technology tooltip" title="JBoss Application Server"></span></li>
			    	<li><span class="tech_used tech_used_31 technology tooltip" title="Apache Tomcat"></span></li>			    	
		        </ul>
		    </div>
		    <div class="clear"></div>
		</div>
		
		<div class="page_2_col_container" style="margin-top:35px;">
			
		    <div class="page_2_col">
		    	<h2 class="header fs18">PHP Development</h2>
		    	<ul class="technology_list">
		    		<li>PHP 5</li>
		    		<li>Joomla</li>
		    		<li>Symfony Framework</li>
		    		<li>jQuery</li>		    		
		    	</ul>
		    	<ul class="technology_list_icons">
		    		<li><span class="tech_used tech_used_14 technology tooltip" title="PHP 5"></span></li>
			        <li><span class="tech_used tech_used_34 technology tooltip" title="Joomla"></span></li>
			        <li><span class="tech_used tech_used_15 technology tooltip" title="Symfony Framework"></span></li>
			        <li><span class="tech_used tech_used_25 technology tooltip" title="jQuery"></span></li>			        
		        </ul>
		    </div>
	        <div class="page_2_col">
		    	<h2 class="header fs18">Mobile Development</h2>
		    	<ul class="technology_list">
		    		<li>Apple iOS</li>
		    		<li>Android</li>
		    		<li>Blackberry</li>
		    		<li>Nokia Symbian</li>		    		
		    	</ul>
		    	<ul class="technology_list_icons">
		    		<li><span class="tech_used tech_used_11 technology tooltip" title="Apple iOS"></span></li>
			        <li><span class="tech_used tech_used_12 technology tooltip" title="Android"></span></li>
			        <li><span class="tech_used tech_used_18 technology tooltip" title="Blackberry"></span></li>
			    	<li><span class="tech_used tech_used_22 technology tooltip" title="Nokia Symbian"></span></li>			        
		        </ul>
		    </div>
		    
		    <div class="clear"></div>
		</div>
		
		<div class="page_2_col_container" style="margin-top:35px;">
			
		    <div class="page_2_col">
		    	<h2 class="header fs18">Databases</h2>
		    	<ul class="technology_list">
		    		<li>Apache Cassandra</li>
		    		<li>MySQL</li>
		    		<li>PostgreSQL, PostgreSQL Geospatial extensions</li>
		    		<li>Microsoft SQL Server</li>
		    		<li>Oracle</li>		    		
		    	</ul>
		    	<ul class="technology_list_icons">
			    	<li><span class="tech_used tech_used_07 technology tooltip" title="Apache Cassandra"></span></li>
			    	<li><span class="tech_used tech_used_04 technology tooltip" title="MySQL"></span></li>
			    	<li><span class="tech_used tech_used_19 technology tooltip" title="PostgreSQL"></span></li>
			        <li><span class="tech_used tech_used_27 technology tooltip" title="Microsoft SQL Server"></span></li>
			        <li><span class="tech_used tech_used_26 technology tooltip" title="Oracle"></span></li>			        
		        </ul>
		    </div>
	        <div class="page_2_col">
		    	<h2 class="header fs18">Cloud Services / Web Servers / Platforms</h2>
		    	<ul class="technology_list">
	    		    <li>Amazon AWS</li>
		    		<li>Message Queue: MSMQ, RabbitMQ, ActiveMQ</li>
		    		<li>Full-text Search: Apache Lucene, Apache Solr</li>
		    		<li>Salesforce Apex</li>
		    	</ul>
		    	<ul class="technology_list_icons">
			        <li><span class="tech_used tech_used_33 technology tooltip" title="Amazon AWS"></span></li>
		    		<li><span class="tech_used tech_used_37 technology tooltip" title="MSMQ"></span></li>
		    		<li><span class="tech_used tech_used_06 technology tooltip" title="Rabbit MQ"></span></li>
			    	<li><span class="tech_used tech_used_08 technology tooltip" title="Apache Solr"></span></li>
			        <li><span class="tech_used tech_used_09 technology tooltip" title="Apache Web Server"></span></li>
			        <li><span class="tech_used tech_used_29 technology tooltip" title="NGiNX"></span></li>
			        <li><span class="tech_used tech_used_21 technology tooltip" title="Salesforce Apex"></span></li>
		        </ul>
		    </div>
		    <div class="clear"></div>
		</div>
		
		<div class="page_2_col_container" style="margin-top:35px;">
	        <div class="page_2_col">
		    	<h2 class="header fs18">Microsoft technologies</h2>
		    	<ul class="technology_list">
		    		<li>C++</li>
		    		<li>.NET Framework</li>
		    		<li>ASP.NET</li>
		    		<li>SQL Server Reporting Services</li>
		    		<li>SQL Server AS</li>
		    		<li>SQL Server Integration Services</li>
		    		<li>IIS</li>
		    		<li>Windows Server</li> 
		    	</ul>
		    	<ul class="technology_list_icons">
   		    	    <li><span class="tech_used tech_used_35 technology tooltip" title="C++"></span></li>
			        <li><span class="tech_used tech_used_23 technology tooltip" title=".NET Framework"></span></li>
   			        <li><span class="tech_used tech_used_36 technology tooltip" title="ASP.NET"></span></li>
			        <li><span class="tech_used tech_used_38 technology tooltip" title="Microsoft SSRS"></span></li>
			        <li><span class="tech_used tech_used_39 technology tooltip" title="Microsoft SSAS"></span></li>
			        <li><span class="tech_used tech_used_40 technology tooltip" title="Microsoft SSIS"></span></li>
			        <li><span class="tech_used tech_used_41 technology tooltip" title="Microsoft IIS"></span></li>
			        <li><span class="tech_used tech_used_42 technology tooltip" title="Microsoft Windows Server"></span></li>
		        </ul>
		    </div>
		    <div class="clear"></div>
		</div>
    </div>
</div>
{% endblock %}

