{% extends 'base.html' %}

{% block meta_title %}i2aSolutions - Technologies{% endblock %}
{% block meta_desc %}At i2aSolutions we know many advanced technologies to complete given challenge. We mostly use Python and Django for our projects.{% endblock %}

{% block content %}
<div class="content_wrapper">
    
    <div class="page_title"><h1>Technologies</h1></div>
    
    <div class="pagination_container">
        <div class="pagination" style="z-index:4;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/">Home page</a>
            <span class="pagination_right"></span>
        </div>
        <div class="pagination pagination_active" style="z-index:3;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/technologies">Technologies</a>
            <span class="pagination_right"></span>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="wrapper916" style="margin-top:40px;">
    	<div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="python"><span class="tech_used tech_used_01 technology"></span>Python</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="django"><span class="tech_used tech_used_02 technology"></span>Django framework</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="celery"><span class="tech_used tech_used_03 technology"></span>Celery framework</h3>     
            </div>
        </div>
        <div class="clear"></div>
        <div style="height:20px;"></div>
        <div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="mysql"><span class="tech_used tech_used_04 technology"></span>MySQL</h3>
        	</div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="openstreetmap"><span class="tech_used tech_used_05 technology"></span>Open Street Map</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="rabbitmq"><span class="tech_used tech_used_06 technology"></span>Rabbit MQ</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div style="height:20px;"></div>
        <div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="cassandra"><span class="tech_used tech_used_07 technology"></span>Apache Cassandra</h3>
        	</div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="solr"><span class="tech_used tech_used_08 technology"></span>Apache Solr</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="apache"><span class="tech_used tech_used_09 technology"></span>Apache Web Server</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div style="height:20px;"></div>
        <div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="linux"><span class="tech_used tech_used_10 technology"></span>Linux OS</h3>
        	</div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="ios"><span class="tech_used tech_used_11 technology"></span>Apple iOS</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="android"><span class="tech_used tech_used_12 technology"></span>Android</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div style="height:20px;"></div>
        <div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="java"><span class="tech_used tech_used_13 technology"></span>Java EE, Java SE, Java ME</h3>
        	</div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="php"><span class="tech_used tech_used_14 technology"></span>PHP 5</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="symfony"><span class="tech_used tech_used_15 technology"></span>Symfony Framework</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div style="height:20px;"></div>
        <div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="flash"><span class="tech_used tech_used_16 technology"></span>Adobe Flash</h3>
        	</div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="twilio"><span class="tech_used tech_used_17 technology"></span>Twilio</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="blackberry"><span class="tech_used tech_used_18 technology"></span>Blackberry</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div style="height:20px;"></div>
        <div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="postgresql"><span class="tech_used tech_used_19 technology"></span>PostgreSQL database</h3>
        	</div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="postgis"><span class="tech_used tech_used_20 technology"></span>PostgreSQL Geospatial extensions</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="apex"><span class="tech_used tech_used_21 technology"></span>Salesforce Apex</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div style="height:20px;"></div>
        <div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="symbian"><span class="tech_used tech_used_22 technology"></span>Nokia Symbian</h3>
        	</div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="dotnet"><span class="tech_used tech_used_23 technology"></span>Microsoft .NET Framework</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="skype"><span class="tech_used tech_used_24 technology"></span>Skype API</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div style="height:20px;"></div>
        <div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="symbian"><span class="tech_used tech_used_25 technology"></span>jQuery</h3>
        	</div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="dotnet"><span class="tech_used tech_used_26 technology"></span>Oracle Database</h3>
            </div>
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="skype"><span class="tech_used tech_used_27 technology"></span>Microsoft SQL Server</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div style="height:20px;"></div>
        <div class="technology_row">
            <div class="page_3_col">
                <h3 class="header fs18 orange" id="opencv"><span class="tech_used tech_used_28 technology"></span>OpenCV</h3>
        	</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

