{% extends 'base-portfolio.html' %}


{% block challenge %}
<p>Create a product that utilizes facial recognition software to match facial characteristics between groups of people.</p>
{% endblock %}

{% block solution %}
<p>We combined our expertise in image analytics with existing facial recognition software to create a prototype of a facial comparison web application. The prototype used several different third-party facial recognition software packages to gather the required facial measurements. It then uses image analytics to compare the resulting data to find similar characteristics among a select group of faces. By using existing off-the-shelf software and creating algorithms to analyze collected data we were able to quickly deliver an affordable proof of concept to the client.</p>
<p>The application utilizes the following features to allow the system to integrate seamlessly into disparate databases of photos:
<ul>
<li>Automated facial recognition</li>
<li>Image cropping and alignment</li>
<li>Image Registration to properly size the photos</li>
</ul>
</p>
{% endblock %}  

{% block website %}{% endblock %}
