{% extends '../../base-portfolio.html' %}


{% block challenge %}
	<p>Create a cloud based solution that extends and enhances the independence of
an elderly loved ones and help postpone an assisted living situation.</p>
{% endblock %}

{% block solution %}
<p>We built Independa a web-based application that utilizes <a href="/solutions-telephony">telephony technologies</a>
(IVR, Text-to-Speech and SMS Alerts) and stored all data centrally in a cloud.</p>
<p>We designed the product around smart calendaring to alert care receivers
of pending appointments and remind them to do specific tasks such as take
medicine, as well as confirming that the tasks were completed. Additionally, we
developed a system that sends alerts via text messaging to the caregiver’s cell
phone to keep them informed about an elderly loved one. We included multiple
options (e-mail updates, automated calls, and text messages sent to a cell
phone) on how they receive information.</p>
<p>The <a href="/solutions-web">web-based application</a> allows caregivers to easily enter pertinent information
about an elderly loved one’s schedule including doctor appointments, medicine
reminders, and birthdays into a calendar. Based on that information an elderly
person is alerted via an automated, interactive IVR system of pending tasks and
appointments. The application is then updated based on the elderly person’s
responses. For example, if the elderly person selected “medicine running
low,” the system automatically sends a text message to the caregiver to refill
the prescription. We also integrated weather updates so a caregiver could be
alerted of potential delays the weather might have on an elderly person attending
pending appointments providing ample time to make other arrangements.</p>
{% endblock %}  

{% block website_url %}http://www.independa.com/{% endblock %}
{% block website_anchor %}http://www.independa.com/{% endblock %}