{% extends 'base-portfolio.html' %}

{% block challenge %}
<p>Create an interactive website to teach children how to learn how to maintain a
schedule and complete tasks.</p>
{% endblock %}

{% block solution %}
<p>We developed a website from the ground-up that has the sophistication parents
want, but is easy enough for children to use. This required creating a kid-friendly user interface where children could track daily accomplishments such as
brushing their teeth or putting away their clothes. To incorporate the needs of a
rewards-based system kids receive points for each completed task. The initial
reward structure is points-based, but we built the system to be scalable so as the
site matures it could include additional types of rewards such as prizes.</p>
<p>Parents can create accounts for kids and add a personal photo to represent
the child in the system or select a cartoon-friendly avatar. Once an account is
created parents can set up schedules and tasks from pre-populated lists or add
their own options. Kids can monitor the site daily and check off tasks as they are
completed. We also provided reporting tools for parents and even a blog where
they can learn more about child behavior, dealing with stress, get advice, and
find tips on how to use the website.</p>
{% endblock %}

{% block website %}{% endblock %}
