{% extends '../../base-portfolio.html' %}


{% block challenge %}
	<p>Build a web-based application that seamlessly integrates the client’s many eCommerce applications into
Salesforce.com. The solution needed to consolidate all the call center agents into one telephony solution based on
Salesforce.com.</p>
{% endblock %}

{% block solution %}
<p>The client has multiple product offerings that it sells through several thousand 1-800 phone numbers run
through a call center using a Salesforce.com solution. To help the client maximize its investment in its existing
Salesforce.com system, we optimized it with a customized web-application that could do more with the data
collected, which allows call center employees to be more efficient and ultimately take more inbound calls. For
example, our web-based application automatically looks up the address of incoming calls and can identify the 1-
800 number dialed and populate the screen with the appropriate offerings.</p>
<p>We also studied the client’s existing SaaS architecture and how it managed and stored data collected from multiple
systems including websites and call centers. Based on that knowledge we created a system that disbanded the
multiple repositories where data was stored and funneled all data collected into a centralized cloud-based data
repository that could be accessed and populated by the client’s multiple websites and <a href="/solutions-telephony">telephony applications</a>. By
having access to more consolidated data the client can now run analysis on the success of a marketing campaign,
the effectiveness of a 1-800 number, the cost of sales, and more.</p>
{% endblock %}  

{% block website_url %}http://www.digitalmojo.com/{% endblock %}
{% block website_anchor %}http://www.digitalmojo.com/{% endblock %}

{% block tech_python %}{% endblock %}
{% block tech_django %}{% endblock %}
{% block tech_celery %}{% endblock %}
{% block tech_mysql %}{{ block.super }}{% endblock %}
{% block tech_openstreetmap %}{% endblock %}
{% block tech_rabbitmq %}{% endblock %}
{% block tech_cassandra %}{% endblock %}
{% block tech_solr %}{% endblock %}
{% block tech_apache %}{% endblock %}
{% block tech_linux %}{{ block.super }}{% endblock %}
{% block tech_ios %}{% endblock %}
{% block tech_android %}{% endblock %}
{% block tech_java %}{% endblock %}
{% block tech_php %}{{ block.super }}{% endblock %}
{% block tech_symfony %}{% endblock %}
{% block tech_flash %}{% endblock %}
{% block tech_twilio %}{% endblock %}