{% extends 'base-portfolio.html' %}


{% block challenge %}
<p>Complete a social networking site designed for women.</p>
{% endblock %}

{% block solution %}
<p>To help women find other members who have like-minded ideas and similar
interests, we developed questionnaires that take into account everything from
hobbies to astrological sign to social habits. We gave users the ability to fill out
as much or as little information as they would like. Once a profile is completed,
we use that data and geo-location tools to match them with other members
in their area. To protect the site from spam and unwanted solicitations we
incorporated permissions during the completion of each step required to create a
member profile.</p>
<p>We built-in a messaging platform so members could easily reach out and
connect with each other. The site operates as a subscription-based model,
so we included transaction tools to handle payments. We included a content
management system that supports multiple users to help facilitate the creation of
blog posts and articles.</p>
{% endblock %}  

{% block website_url %}http://www.socialjane.com/{% endblock %}
{% block website_anchor %}http://www.socialjane.com/{% endblock %}
