{% extends '../../base-portfolio.html' %}


{% block challenge %}
<p>Create a website that would allow people to test the speed of their Internet
connection.</p>
{% endblock %}

{% block solution %}
<p>We built a web-based tool that allows people to check their Internet speed
anywhere in the world. The site needed to be user friendly. To accomplish this
we added a slick, graphic-based Flash interface where site users could see how
the system was running the test and get results immediately. We incorporated
into the backend design a list of ISPs with the ability to ping servers around the
world for results.</p>
<p>We also added social media features into the design. Once the results of a speed
test are in users can easily share it with others by posting to Twitter, Facebook,
or simply copy and paste the URL to the site of their choice. We included a login
option so user could keep track of their results and communicate with others in a
forum.</p>
{% endblock %}  

{% block website_url %}http://www.bandwidthplace.com/{% endblock %}
{% block website_anchor %}http://www.bandwidthplace.com/{% endblock %}