{% extends 'base-portfolio.html' %}


{% block challenge %}
	<p>Create a marketing website prior to the launch of a new <a href="/solutions-web">web-based product</a> to attract additional funding for the product and beta users.</p>
{% endblock %}

{% block solution %}
<p>Independa wanted a website that would educate users, support video feeds, and standout from the competition. Since the product hadn’t been launched we anticipated the company’s needs by looking at their business model and made the site scalable so it could accommodate a pending customer base.</p>
<p>The website would also be used by two different, yet targeted demographics so we conducted user groups to address those needs. This resulted in using bright colors to design the website, and adding thoughtful details such as offering small and large font options. We also provided two ways to incorporate video into the site: live feeds from events where the company conducted product demonstrations and the ability to embed videos from hosting sites such as YouTube.</p>
<p>In addition to creating a website to promote the product, we deployed a content management system (CMS) so the company could easily update the website once the product launched. We used Drupal for the CMS to help minimize costs for the client. Since it is open source the company will be able to add new web-centric features (such as Facebook and Twitter plug-ins, blog) as they expand the website over time. Once the website was developed we conducted QA to ensure it worked seamlessly with multiple browsers. These efforts resulted in a vibrant, highly usable website that sets the company apart from its competition.</p>
{% endblock %}  

{% block website %}{% endblock %}
