{% extends '../../base-portfolio.html' %}


{% block challenge %}
	<p>Create a website to resell Tech Support for Dummies (TSD) services that
integrates into the company’s web services.</p>
{% endblock %}

{% block solution %}
<p>In order for a company to effectively sell Tech Support for Dummies services
(technical support contracts for all types of home computers and electronics) on
the web, we developed a web-based application that could access TSD’s product
offerings.</p>
<p>The site allows consumers to order either one-time support or signup for a
subscription plan that includes 24x7 support. The solutions utilize by the web-
based eCommerce website were also integrated into Saleforce.com and the
company’s call center to offer consumers the option to also order the service via
call center agents.</p>
{% endblock %}  

{% block website_url %}http://www.technicalsupport.com/{% endblock %}
{% block website_anchor %}http://www.technicalsupport.com/{% endblock %}