{% extends 'base-portfolio.html' %}


{% block challenge %}
	<p>Develop a localization platform utilizing resources around the globe in order to expedite.</p>
{% endblock %}

{% block solution %}
<p>i2A solution was selected to oversee the agile global process of development. Working and collaborating together on building a unique platform.  Our primary focus was provide development resources and solutions, from start to finish and support.</p>
<p>The platform goes beyond delivering location-specific ads, we also built-in the flexibility to integrate additional features into the ad such as the ability to place a call, see a location on a map, or even use a coupon. In addition to location parameters, users of the system can target consumers with specific interests.</p>
<p>By implementing an auction-based bidding system companies can also decide how much they want to spend to achieve the reach they want.</p>
{% endblock %}  

{% block website_url %}http://www.moasisglobal.com{% endblock %}
{% block website_anchor %}http://www.moasisglobal.com{% endblock %}

{% block tech_python %}{{ block.super }}{% endblock %}
{% block tech_django %}{{ block.super }}{% endblock %}
{% block tech_celery %}{{ block.super }}{% endblock %}
{% block tech_mysql %}{{ block.super }}{% endblock %}
{% block tech_openstreetmap %}{{ block.super }}{% endblock %}
{% block tech_rabbitmq %}{{ block.super }}{% endblock %}
{% block tech_cassandra %}{{ block.super }}{% endblock %}
{% block tech_solr %}{{ block.super }}{% endblock %}
{% block tech_apache %}{{ block.super }}{% endblock %}
{% block tech_linux %}{{ block.super }}{% endblock %}
{% block tech_ios %}{% endblock %}
{% block tech_android %}{% endblock %}
{% block tech_java %}{% endblock %}
{% block tech_php %}{% endblock %}
{% block tech_symfony %}{% endblock %}
{% block tech_flash %}{% endblock %}
{% block tech_twilio %}{% endblock %}
