{% extends '../../base-portfolio.html' %}

{% block meta_desc %}To deliver targeted location-based ads to consumers on a cell phone or tablet,
we created a system that provides advertisers (small businesses, agencies, and
marketers) the ability to target a specific customer based on their location.{% endblock %}

{% block challenge %}
<p>Create a hyper location-based ad platform that allows advertisers to send targeted ads to people based on their location.</p>
{% endblock %}

{% block solution %}
<p>To deliver targeted location-based ads to consumers on a cell phone or tablet,
we created a system that provides advertisers (small businesses, agencies, and
marketers) the ability to target a specific customer based on their location.</p>

<p>We built an easy to use self-service platform that allows businesses to use their
own graphic or text-based banner ads in a given campaign and then visually
pinpoint where the ads would be delivered within specific grids in a city or region.
To help accurately measure a campaign’s performance, we provided the ability
to run reports using the included analytic tools. Agencies will appreciate that the
system works well with third party tools such as DART reporting.</p>

<p>The system goes beyond delivering location-specific ads, we also built-in the
flexibility to integrate additional features into the ad such as the ability to place
a call, see a location on a map, or even use a coupon. In addition to location
parameters, users of the system can target consumers with specific interests. By
implementing an auction-based bidding system companies can also decide how
much they want to spend to achieve the reach they want.</p>
{% endblock %}  

{% block website_url %}http://www.moasisglobal.com{% endblock %}
{% block website_anchor %}http://www.moasisglobal.com{% endblock %}

