{% extends '../../base-portfolio.html' %}

{% block meta_desc %}To deliver targeted location-based ads to consumers on a cell phone or tablet,
we created a system that provides advertisers (small businesses, agencies, and
marketers) the ability to target a specific customer based on their location.{% endblock %}

{% block challenge %}
<p>Create an ad platform that allows advertisers to send targeted ads to people who use sports related web-based and mobile applications.</p>
{% endblock %}

{% block solution %}
<p>We built an easy to use self-service ad platform that allows businesses to target
sports enthusiasts based on team and league preferences. We created an easy-
to-use system that mobile and web-based app developers can use to register
their apps for possible advertising opportunities. Advertisers can use the system
to send targeted ads to users of sports-related mobile apps or web-based apps.
They can also set parameters for how much they want to spend on a campaign
and use their own graphic or text-based banner ads.</p>

<p>In addition to league and team parameters, advertisers can target those with
specific interests, age, gender and other options. To help accurately measure a
campaign’s performance, we included the ability to run reports using the included
analytic tools. Agencies will appreciate that the system works well with third party
tools such as DART reporting.</p>
{% endblock %}  

{% block website %}{% endblock %}

