{% extends '../../base-portfolio.html' %}


{% block challenge %}
<p>Create an ad platform that allows advertisers to send targeted ads to consumers
who use travel-related web-based and mobile applications.</p>	
{% endblock %}

{% block solution %}
<p>We built an easy to use self-service ad platform that allows businesses to target
travel enthusiasts based on destinations and trip preferences. We created an
easy-to-use system that developers of travel-based mobile and web-based app
can use to register their apps for possible advertising opportunities. Advertisers
utilize the system to send targeted ads to users of travel-related mobile apps
or web-based apps. They can also set parameters for how much they want to
spend on a campaign and use their own graphic or text-based banner ads.</p>

<p>In addition to specific travel parameters, advertisers can target ads to be
delivered to users based on gender, age, and interest. To help accurately
measure a campaign’s performance, we included the ability to run reports using
the included analytic tools. Agencies will appreciate that the system works well
with third party tools such as DART reporting.</p>
{% endblock %}  

{% block website_url %}http://www.tripbucket.com{% endblock %}
{% block website_anchor %}http://www.tripbucket.com{% endblock %}