{% extends '../base.html' %}

{% block meta_title %}i2aSolutions - Mobile Applications Portfolio{% endblock %}
{% block meta_desc %}i2a Solutions develops a variety of specific mobile applications for iPhone, iPad, Android, Microsoft and BlackBerry platforms.{% endblock %}

{% block content %}
<div class="content_wrapper">
    
    <div class="page_title"><h1>Mobile applications</h1></div>
    
    <div class="pagination_container">
        <div class="pagination" style="z-index:3;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/">Home page</a>
            <span class="pagination_right"></span>
        </div>
        <div class="pagination" style="z-index:2;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/portfolio">Portfolio</a>
            <span class="pagination_right"></span>
        </div>
        <div class="pagination pagination_active" style="z-index:1;">
            <span class="pagination_left"></span>
            <a class="pagination_center" href="/portfolio/mobile-apps">Mobile applications</a>
            <span class="pagination_right"></span>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="wrapper916" style="margin-top:20px;">
	<p>i2a Solutions develops a variety of specific mobile applications for iPhone, iPad, Android, Microsoft and BlackBerry platforms. We have expertise building standalone mobile applications that utilize the latest technologies (geo-coding, mapping, imaging, secure data protocols, etc.) and work with all the standardized API’s such as Yelp, Facebook, FourSquare, and Google Location so we can help you integrate popular social networking sites and existing <a href="/solutions-location-platforms">location-based applications</a> into your mobile product.</p>
	<p>Whether you have a <a href="/solutions-web">web application</a> that needs to go mobile or a concept for a standalone mobile application, we can help you make your mark in the mobile marketplace. If your company wants to create a mobile version of an existing web application, we will help you determine the features that will translate well into the mobile space and build a unique application that seamlessly integrates into your existing system. Conversely, if you have a concept for a standalone mobile application we can build that too.</p>
	</div>
    
    <div class="wrapper916"  style="margin-top:20px;">
        <div class="project_row">
            {% for project in projects.values  %}
            	{% ifequal project.category 'mobile-apps' %}
	            <div class="project">
	            	<a href="{{ project.url }}">
	                <div class="project_img">
	                	<img src="{{ project.img_thumb }}" />
	                    <span class="project_hover"></span>
	                    <strong class="project_caption">{{ project.caption }}</strong>
	                </div>
	                </a>
	                <div class="project_img_shadow"></div>
	            </div>
	            {% endifequal %}
            {% endfor %}
        </div>
        <div class="clear"></div>
    
    </div>
</div> <!-- class=content_wrapper -->
{% endblock %}
