{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header ninetyninebrews"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Create an interactive mobile beer guide for San Diego locals and visitors to plan brewery and beer pub visits, discover upcoming beer-related events, explore San Diego’s vast craft brew scene, and share their “must-do” brewery experiences with fellow beer lovers in San Diego. </p>
{% endblock content.idea %}
{% block content.technologies %}
            <ul class="tech_icons">
                <li class="tech large ios6"></li>
            </ul>

{% endblock content.technologies %}
{% block content.solution %}

                    <p>99Brews and TripBucket brings the vast landscape of San Diego’s thriving craft brew scene right to your mobile phone. 
Personal “must visit” lists, “my trips” tracker, and category filters tailor each user’s experience to his or her personal brewery, brew pub or tasting room preference. Through this app, users can locate breweries that are family friendly, allow dogs, or serve food on site. App users can also sort by San Diego’s most popular or highly rated breweries, beer pubs and tasting rooms to ensure they are getting the best craft brew experience San Diego has to offer.</p><p>
Detailed mapping and tracking capabilities allow users to search for breweries nearby and get directions to any brewery in San Diego County with the simple click of a button. Tour package details and hours of operation are easily accessible right from the app, ensuring users to never miss an opportunity to check out their favorite breweries any time, day or night. </p><p>
This all-encompassing app also allows its users to stay on the cutting-edge of San Diego’s ever-changing beer scene by offering the latest brewery news, photos, reviews and schedule of upcoming events and festivals. </p><p>
Users must be 21 years or older to download this app. 99Brews: San Diego is compatible with iPhone, iPad and iPod Touch and requires iOS 6.0 or later. </p>

{% endblock content.solution %}
{% block content.bottom %}



            <div class="wrapper">
                <h1>Download</h1>
               
                 <div class="tight">
                    <div class="column1">
                        <div class="download_box">
                            <h3>Download iPhone App</h3>
                            <ul>
                                <li><a href="https://itunes.apple.com/us/app/99brews-san-diego/id875996990?mt=8" target="_blank">99 Brews San Diego</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="download_box">
                            <h3>Download Android App</h3>
                            <ul>
                                <li><a href="https://play.google.com/store/apps/details?id=com.brews.sandiego" target="_blank">99 Brews San Diego</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content.bottom %}

