{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header balboapark"></div>
{% endblock header %}

{% block content.idea %}
                    <p>San Diego’s Balboa Park – home to the World-Famous San Diego Zoo, 15 renowned museums and nearly 1,200 acres of open park space -- wanted a more interactive experience to excite and engage its park visitors. </p>
{% endblock content.idea %}
{% block content.technologies %}

                <ul class="tech_icons">
                    <li class="tech large android"></li>
                    <li class="tech large ios6"></li>
                </ul>


{% endblock content.technologies %}
{% block content.solution %}

                    <p>With its ever-changing lineup of exhibits, classes, concerts and plays, there is never a shortage of things to do in Balboa Park. To enhance the visitor’s experience, i2a Solutions developed the Balboa Park Official Mobile app, a robust interactive guide to San Diego’s timeless and beloved urban park and its many must-see attractions, including several museums, gardens, performing arts venues and cultural centers.  
</p><p>
Using GPS technology, park visitors can easily find their way around the vast 1,200-acre park property. The app provides a detailed map, photos and reviews of each location, and directions to parking, restrooms, ATMs, picnic areas and scenic vistas.</p><p> 
Visitors can also build their very own personal itinerary or “must-do” list. The app allows users to add their own photos, personal tips and list of favorite activities while in the park to share their experience with others.   </p>

{% endblock content.solution %}
{% block content.bottom %}



            <div class="wrapper">
                <h1>Download</h1>
                <div class="tight">
                    <div class="column1">
                        <div class="download_box">
                            <h3>Download iPhone Apps</h3>
                            <ul>
                                <li><a href="https://itunes.apple.com/us/app/balboa-park-official-mobile/id970502543?mt=8">Balboa Park Official Mobile App</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="download_box">
                            <h3>Download Android Apps</h3>
                            <ul>
                               <li><a href="https://play.google.com/store/apps/details?id=com.tripbucket.balboapark&hl=pl">Balboa Park Official Mobile App</a></li>
                               
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content.bottom %}

