{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header battleship"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Create an app for the Battleship Iowa (BB-61) that would completely transform a visit on the museum ship an unforgettable experience.</p>
{% endblock content.idea %}
{% block content.technologies %}
    <p>
    Advanced iBeacon hardware and software were used to create this multi-functional app, including a combination of Bluetooth beacons inside the museum and geolocation technology to detect exactly where each visitor is located. The culmination of these technologies gives visitors a highly personalized and magical museum experience that surpasses all others. 
    </p>
{% endblock content.technologies %}
{% block content.solution %}

                    <p>The Battleship Iowa App will transform your museum experience into something you will never forget. Key features of the app include:
    •   audio tours based on your location in the ship
    •   videos that dive deeper into the fascinating history or fun facts about the ship
    •   a behind-the-scenes, VIP look at the ship itself 
    •   an augmented reality feature to help really bring the museum’s masterpieces to life
</p>
<p>
This app also helps you navigate your way throughout the ship -- even allowing you to create a custom itinerary based on your preferences or setting your audio tour to another language to enjoy your tour in your native tongue. As you approach each area of the ship, information related to items pops up automatically. Don’t have time to read up on all the near information? Use the app’s “favorite” function to save items to learn more about later. </p>

<h2 style="margin-top: 40px">Fun for All Ages</h2>
<p>
The San Diego Museum of Art app is also a great platform for kids to learn about art interactively. With trivia games and treasure hunts, kids and adults alike can experience the San Diego Museum of Art in a whole new way. The app even pays for itself with special discounts and coupons available for food and merchandise purchases throughout the museum. Plus, if you want to know more about upcoming events or future exhibits at the museum, the app sends you alerts when fun events are coming up. 
</p>
{% endblock content.solution %}
{% block content.bottom %}



            <div class="wrapper">
                <h1>Download</h1>
               
                 <div class="tight">
                    <div class="column1">
                        <div class="download_box">
                            <h3>Download iPhone App</h3>
                            <ul>
                                <li><a href="https://itunes.apple.com/us/app/battleship-iowa/id1037640539?mt=8" target="_blank">Battleship Iowa App</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="download_box">
                            <h3>Download Android App</h3>
                            <ul>
                                <li><a href="https://play.google.com/store/apps/details?id=co.theguru.iowa" target="_blank">Battleship Iowa App</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content.bottom %}

