{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header billpay"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Challenge</h2>
                <div>
                    <p>Build a mobile and web-based tool to enable consumer the ability to pay

                    their bills via a mobile app.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large mysql"></li>
                    <li class="tech large linux"></li>
                    <li class="tech large java"></li>
                    <li class="tech large android"></li>
                    <li class="tech large python"></li>
                    <li class="tech large celery"></li>
                    <li class="tech large ios6"></li>
                    <li class="tech large django"></li>

                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>The Bill Pay app is a downloadable smart phone app and integrated with a hosted server 

                    platform. Together, this solution allows a consumer to pay a bill by photographing a bill,

                    statement or invoice for scheduled payment. It allows consumers to leverage a variety

                    of payment methods, including credit cards, debit cards, bank accounts, online accounts, 

                    wallets and prepaid alternatives, giving consumers ease-of-use and freedom of choice.</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p>It leverages smart-phone-enabled “snap and capture” capabilities, including identification 

                    using a Driver’s License, and linking with bank accounts by snapping a picture of a check.</p>

                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">

        </div>
    </div>
</div>
{% endblock content %}

