{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header creativeprocess"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Idea</h2>
                <div>
                    <p>The creative process is much like baking a cake; it takes an idea of the flavor profile, acquisition 

of the right ingredients, mixing of these ingredients, and putting the finishing touches on it

before it is ready for consumption. High school performing arts teacher and International 

Baccalaureate dance instructor, Judi Hofmeister, wanted to create a centralized and accessible 

repository to share her “recipes for imagination” – exercises she has created, developed or 

gathered during her career as both a professional performing artist and as a performing arts 

teacher.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large ios6"></li>
                   
                   

                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>The Creative Process app is a fun and accessible resource to spark the imaginations of 

performing arts students and teachers alike at the middle school or high school levels. The app 

compiles a series of lesson plans and classroom exercises—or “recipes for imagination” -- in 

three clearly-defined areas of arts education: dance, theatre, and music.</p>

                </div>
            </div>
            <div class="column2">
                <div><p>All of the exercises included in the app embody 21st

arts student to think outside the box. Teachers too are encouraged to dream up creative lesson 

plans and arrange imaginative exercises using the recipes outlined in this inventive cookbook 

collection. Teachers can use these “recipes” as standalone exercises, quick classroom tasks, or 

they can mix them together to create their own distinct exercises all using just one simple app.

 century skills and encourage the performing</p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock content %}

