{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header b3"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Create an ad platform that allows advertisers to send targeted ads to people who use sports related web-based and mobile applications.</p>

{% endblock content.idea %}
{% block content.technologies %}
                <ul class="tech_icons">
                    <li class="tech large mysql"></li>
                    <li class="tech large linux"></li>
                    <li class="tech large java"></li>
                    <li class="tech large android"></li>
                    <li class="tech large python"></li>
                    <li class="tech large ios6"></li>
                    <li class="tech large apache"></li>
                    <li class="tech large django"></li>

                </ul>
{% endblock content.technologies %}
{% block content.solution %}
                    <p>We built an easy to use self-service ad platform that allows businesses to target sports enthusiasts based on team and league preferences. We created an easy- to-use system that mobile and web-based app developers can use to register their apps for possible advertising opportunities. Advertisers can use the system to send targeted ads to users of sports-related mobile apps or web-based apps. They can also set parameters for how much they want to spend on a campaign and use their own graphic or text-based banner ads..</p>

                    <p>In addition to league and team parameters, advertisers can target those with specific interests, age, gender and other options. To help accurately measure a campaign’s performance, we included the ability to run reports using the included analytic tools. Agencies will appreciate that the system works well with third party tools such as DART reporting.</p>
{% endblock content.solution %}
{% block content.bottom %}
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">



                    <div class="centered"><a href="http://www.fanserv.com" target="_blank"><img src="{% static "img/icon_www.png" %}"><br>fanserv.com</a></div>

                </div>
            </div>

{% endblock content.bottom %}

