{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header default"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Challenge</h2>
                <div>
                    <p>Create an ad platform that allows advertisers to send targeted ads to people who use sports related web-based and mobile applications.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large mysql"></li>
                    <li class="tech large linux"></li>
                    <li class="tech large java"></li>
                    <li class="tech large android"></li>
                    <li class="tech large python"></li>
                    <li class="tech large ios6"></li>
                    <li class="tech large apache"></li>
                    <li class="tech large django"></li>

                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>We built an easy to use self-service ad platform that allows businesses to target sports enthusiasts based on team and league preferences. We created an easy- to-use system that mobile and web-based app developers can use to register their apps for possible advertising opportunities. Advertisers can use the system to send targeted ads to users of sports-related mobile apps or web-based apps. They can also set parameters for how much they want to spend on a campaign and use their own graphic or text-based banner ads..</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p>In addition to league and team parameters, advertisers can target those with specific interests, age, gender and other options. To help accurately measure a campaign’s performance, we included the ability to run reports using the included analytic tools. Agencies will appreciate that the system works well with third party tools such as DART reporting.</p>

                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="http://www.fanserv.com"><img src="{% static "img/icon_www.png" %}"><br>fanserv.com</a></div>






                </div>
            </div>
        </div>
    </div>
</div>{% endblock content %}

