{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header fansircle"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Idea</h2>
                <div>
                    <p>Create a data- and analytics-driven mobile tool that allows sports marketers to discover and

implement new and creative revenue streams by tracking sports fan behavior, as well as 

elevating the sports fan experience on game day.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large ios6"></li>
                    <li class="tech large android"></li>
                    <li class="tech large java"></li>
                    <li class="tech large python"></li>
                    <li class="tech large django"></li>

                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>FanSircle is a mobile app that simultaneously tracks sports fan demographics and behavior 

while also enhancing how fans engage with their favorite teams. The FanSircle app allows sports 

marketers to turn raw data into a clear snapshot of a team’s fan base, enabling sports brands to 

identify optimal routes to maximize revenue, heighten team exposure, and transform everyday 

supporters into super-fans. 

This strategic marketing tool allows users to see the precise demographic of every fan in the 

sports stadium or arena, their fans’ networks, as well as what fans are doing while cheering 

on their favorite teams.</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p> In addition to collecting user behavior data at live events, FanSircle

fuses a sports team’s existing data with newly gathered fan behavior statistics to compile a 

comprehensive report that clearly defines the top strategies for sports marketers to utilize in order 

to increase efficiencies, pinpoint potentially untapped or underutilized markets, and identify 

profitable marketing opportunities within a few taps of a smartphone screen. 

Thanks to the app’s data-driven functionality, sports teams are able to boost marketing and 

analysis impact by attracting new fans, partners and sponsors. Fans too benefit by being able to 

enjoy an enhanced game day experience and closer connection to their favorite sports teams and 

players. Through the app, fans are able to locate and connect with their friends at the gate, enjoy 

exclusive “super fan” content, like on-demand replays, news and stats, and benefit from valuable 

rewards for being a loyal fan. With its statistically proven value for both business and leisure, 

FanSircle is a win-win app for fans and sports marketers alike.</p>

                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">

        </div>
    </div>

</div>
{% endblock content %}

