{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header idwallet"></div>
{% endblock header %}

{% block content.technologies %}
                   
<ul class="tech_icons">
    <li class="tech large ios6"></li>
    <li class="tech large android"></li>
</ul>

{% endblock content.technologies %}
{% block content.idea %}

                    <p>With so many membership cards, loyalty cards and credit cards to keep track of nowadays, one financial institution tasked i2a Solutions with creating a secure way to store all of that information in one handy mobile app.</p>
{% endblock content.idea %}
{% block content.solution %}
<p>
Today, people’s wallets are packed with cards ranging from credit cards and identification cards to gym memberships and airline mileage programs. To add to the mess, you never know just when you need to furnish a membership number, prompting you to carry every card with you at all times. Instead of bulking up your wallet or cluttering your purse with numerous cards, why not collect all the information you need in one handy app instead?
</p>
<p>
The ID Wallet App allows users to take a picture of any card in their repertoire to store and access easily with the simple click of a button. Cards can be grouped into categories by type, such as airline mileage cards, loyalty cards, identification cards, credit cards and more so you can find what you’re looking for easily. So next time you’re called upon to procure a membership ID, you can avoid rooting through your wallet to find the number you need. Just whip out your phone, click and few buttons, and voila! Get the number you’re looking for instantly. 
</p>
<p>
The ID Wallet App helps de-clutter your wallet while storing all of your information in a secure, encrypted iPhone or Android app. ID Wallet adheres to the highest security protocols and standards, including secure app logins and encryption codes to ensure your information remains private and secure.     
</p>
{% endblock content.solution %}


