{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header impressme"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Idea</h2>
                <div>
                    <p>The goal behind ImpressMe is to unify the fractured landscape that exists when shoppers 

attempt to research commonly compared products, like cars, prior to making a major purchasing 

decision. I2A Solutions was challenged to create an online platform where brands and consumers 

could converge to compare dozens of products side by side in an effort to win over the 

prospective buyer, as well as give the shopper a compete view of all brands, models, and product 

lines available to them.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large python"></li>
                    <li class="tech large django"></li>
                    <li class="tech large jquery"></li>
                    <li class="tech large postrgesql"></li>
                    <li class="tech large amazon"></li>
                    <li class="tech large solr"></li>
                     <li class="tech large apache"></li>
                    
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>ImpressMe is a video product comparison tool designed to let shoppers explore a full range 

of available products in an array of categories to compare products side by side. Shoppers can 

discover brands and models they may never have heard of before, search by features that are 

important to them, and find the product that best suits their needs. Through the online platform, 

informed buyers can watch and save product videos of their choice, access additional resources 

to help with their purchase decision, save product information in personalized collections, and 

assess the distinct features of each product in side-by-side comparisons.</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p>ImpressMe also helps brands build awareness about their products by connecting them to 

prospective buyers and facilitating shoppers’ decision-making processes through videos and 

stories told from the brand itself. 

No longer do savvy consumers have to struggle to educate themselves about every product 

available to them. Now, they can simply visit ImpressMe, do a quick search or browse by 

category, and educate themselves on every product that meets their requirements all in one place.</p>

                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="http://www.impressme.com"><img src="{% static "img/icon_www.png" %}"><br>impressme.com</a></div>






                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

