{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header ad"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Challenge</h2>
                <div>
                    <p>Create a SaaS application that enables globally distributed organizations to collaborate with each other seamlessly while retaining and protecting their intellectual capital. The client needed to create a flexible SaaS KMS that would cover needs from many different industries.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large java"></li>
                    <li class="tech large oracle"></li>
                    <li class="tech large apache"></li>
                    <li class="tech large sqlserver"></li>



                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>i2a developed a SaaS knowledge management system that is both scalable and customizable for each business and individuals users. The product is designed to be used in many facets of a business including sales, training, partner management, and transforming intellectual capital into actionable knowledge through information management.</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p>We created a platform architecture that system administrators can easily manage and integrate into existing user tools. Additionally, we created the product to work with a company’s valuable data regardless of location and share it with employees throughout an enterprise safely and securely, without interrupting existing workflow procedures. The result is a knowledge management system that helps businesses be more effective by giving their employees quick and easy access to the information they need. As a result, employees' productivity increased. The system has also improved communication and the coordination of work.</p>

                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="http://www.attoffer.com"><img src="{% static "img/icon_www.png" %}"><br>attoffer.com</a></div>






                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
