{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header lookbooker"></div>
{% endblock header %}

{% block content.technologies %}
                   
The app is currently available online and on iPhone and iPad devices with Android compatibility coming soon!

{% endblock content.technologies %}
{% block content.idea %}

                    <p> <p>Salons and consumers need a better way to connect on-the-go, prompting the need for the LookBooker app, a mobile and online app that allows salon clients to search, select, confirm, or cancel appointments anytime, anywhere. </p>
{% endblock content.idea %}
{% block content.solution %}
<p>
    i2a Solutions and Lookbooker is bringing the ease and convenience of booking services to the hair and beauty world. LookBooker puts a host of top-rated salons and spas and your fingertips. From the app, you can search for NYC’s best in beauty services, book your next visit, or cancel or reschedule an appointment 24/7. With the LookBooker app, finding, booking and even paying for salon and spa services are all just a few taps away. 
</p>
<p>
The app lets you explore spas and salons in your area, compare prices, atmosphere, products, and availability, read and write reviews from past and current customers, and schedule or reschedule appointments right from your phone -- even after hours.  You can even pay for services or tips with one easy swipe while at the salon. Users can review salons they have visited and keep their favorite spots on file in the app for future reference. Each and every salon on LookBooker has been personally researched and visited by a LookBooker team member to ensure only the best for its users. 
</p>
<p>
The number of salons and services on the Lookbooker platform is quickly climbing, providing more options for customers every day. The app is currently limited to NYC but will soon be venturing into new cities and has been featured on Women’s Wear Daily, Inc., CNBC and more.</p>
{% endblock content.solution %}
{% block content.bottom %}
            <div class="wrapper">
                <h1>Download</h1>
               
                 <div class="tight">
                    <div class="column1">
                        <div class="download_box">
                            <h3>Download iPhone App</h3>
                            <ul>
                                <li><a href="https://itunes.apple.com/us/app/lookbooker/id1038140341?mt=8" target="_blank">LookBooker App</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="download_box">
                            <h3>Download Android App</h3>
                            <ul>
                                <li><a href="https://play.google.com/store/apps/details?id=co.lookbooker.lb" target="_blank">LookBooker App</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content.bottom %}

