{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header mflyer"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Idea</h2>
                <div>
                    <p>Paper flyers cost a lot for a small business to design, print and ship to the customer. Moreover,

there is no easy way to track the return on paper flyers or measure their success in impressions, 

leads or sales. Moasis Global wanted to create a more targeted, measurable and paperless way 

for businesses to deliver relevant content, deals and advertising directly to their customers’ 

mobile phones using Moasis Global’s patented geo-location technology.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large mysql"></li>
                    <li class="tech large linux"></li>
                    <li class="tech large java"></li>
                    <li class="tech large android"></li>
                    <li class="tech large python"></li>
                    <li class="tech large celery"></li>
                    <li class="tech large ios6"></li>
                    <li class="tech large django"></li>

                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>mFlyer connects businesses with local customers using the power of mobile technology and geo-
location marketing to promote sales, drive leads and bring nearby customers right to a business’ 

doorstep. The mobile technology combines the ease of traditional flyers with the power of 

location-based marketing technology to pinpoint customers who are nearby a particular store and 

push relevant digital promotions directly to their mobile phones.

Custom mobile advertisements display from within the customer’s existing apps and games 

on their phone, meaning that no new app downloads or special technology is required.</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p> With a

simple click of a button, businesses can expand their ad’s reach on social media and to email 

subscribers, as well as track the success of their promotions online. 

The mobile flyers are easy to create using the platform’s simple web interface, and they can be 

customized to send out at specific times, on specific dates, in specific target areas, making this 

paperless alternative the perfect marketing tool to reach out to relevant customers at the right 

place and the right time.</p>

                </div>
            </div>
        </div>

    </div>
 <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="http://www.mflyer.com"><img src="{% static "img/icon_www.png" %}"><br>mflyer.com</a></div>






                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

