{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header mmajunkie"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Provide Mixed Martial Arts (MMA) fans and those in the industry an app with live play-by-play action, news, and analysis from an award-winning team of writers and editors.</p>
{% endblock content.idea %}
{% block content.technologies %}
            <ul class="tech_icons">
                <li class="tech large ios6"></li>
            </ul>

{% endblock content.technologies %}
{% block content.solution %}

                    <p>i2aSolutions built a highly-interactive app devoted to the latest MMA news, interviews, fight announcements and event information.
                        <br/><br/>We included optional push notifications, video highlights and photos from MMA events around the world. The app also features enhanced audio technology allowing users to enjoy MMAJunkie Radio anytime.
                        <br/><br/>The app is compatible with iPhone and Android devices.</p>

{% endblock content.solution %}
{% block content.bottom %}



            <div class="wrapper">
                <h1>Download</h1>
               
                 <div class="tight">
                    <div class="column1">
                        <div class="download_box">
                            <h3>Download iPhone App</h3>
                            <ul>
                                <li><a href="https://itunes.apple.com/us/app/mmajunkie/id876544448?mt=8" target="_blank">MMAjunkie</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content.bottom %}

