{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header nba_dev"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Build a mobile and web-based tool for the NBA to keep all players up to

                    date on internal events and training programs.</p>
{% endblock content.idea %}
{% block content.technologies %}
                <ul class="tech_icons">
                    <li class="tech large ios6"></li>
                    <li class="tech large django"></li>
                    <li class="tech large python"></li>
                    <li class="tech large mysql"></li>
                    <li class="tech large linux"></li>
                    <li class="tech large celery"></li>
                    <li class="tech large android"></li>

                </ul>
{% endblock content.technologies %}
{% block content.solution %}
                    <p>We designed and built a multi-platform app for the NBA’s Player 

                    Development Program (PD). The iPhone, iPad, Android Phone and 

                    Android Tablet apps allows the league and team personnel to assign 

                    training programs via web hosted content to the players and test their 

                    knowledge once each assignment is completed.</p>


                    <p>The app also manages

                    the schedule of each individual player and enables communications

                    between league officials, team personnel and players. This solution is 

                    now used exclusively by NBA as an essential tool in their educational and 

                    training programs on both a league-wide and franchise level.</p>


{% endblock content.solution %}
