{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header nba_rtp"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Build a mobile and web-based tool for the NBA to train its incoming players
                    on employment practices and league policies.</p>

{% endblock content.idea %}
{% block content.technologies %}
                <ul class="tech_icons">
                    <li class="tech large ios6"></li>
                    <li class="tech large django"></li>
                    <li class="tech large python"></li>
                    <li class="tech large mysql"></li>
                    <li class="tech large linux"></li>
                    <li class="tech large celery"></li>


                </ul>
{% endblock content.technologies %}
{% block content.solution %}
                    <p>We designed and built an iPad app and Content Management

                    System (CMS) for the NBA’s Rookie Training Program (RTP). 

                    The app allows the league to train and test new players on 

                    employment practices, league policies and general best practices.</p>


                    <p>The app

                    also manages the schedule of events during the entire training program 

                    and enables communications, via secure messaging, between league</p>

{% endblock content.solution %}
