{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header nba_combine"></div>
{% endblock header %}


{% block content.idea %}
                    <p>Provide a streamlined and integrated solution for NBA general managers, scouting departments

and other NBA personnel to gather and house essential information about players attending the 

NBA Draft Combine.</p>

{% endblock content.idea %}
{% block content.technologies %}

                <ul class="tech_icons">
                    
                    <li class="tech large mysql"></li>
                    <li class="tech large linux"></li>
                    <li class="tech large apache"></li>
                    <li class="tech large python"></li>
                    <li class="tech large django"></li>
                    <li class="tech large jquery"></li>


                </ul>
{% endblock content.technologies %}
{% block content.solution %}
                    <p>The NBA Draft Combine web app serves as a central repository for information about players

who are participating in the NBA Draft Combine. Players are emailed invitations to access 

the system, where they fill out simple forms and surveys on a Players Checklist. The checklist 

houses essential player information ranging from health and wellness, professionalism and 

image, finance, security, and relationship management in order for the NBA Draft Combine staff 

to tailor its services and improve programs to meet Combine participants’ needs.</p>


                    <p>NBA staff are able to stay apprised of each player’s progress in filling out the form by tracking

the status of survey completion on each player’s profile. The web app also aggregates and 

averages the data from the survey results for NBA staff to better understand the average 

Combine participants’ most vital needs as a whole. If drafted, the information collected through 

the NBA Draft Combine app follows the player through to their new NBA team, making the web 

application a longstanding resource for NBA scouts, staff and teams alike.</p>

{% endblock content.solution %}
