{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header needanything"></div>
{% endblock header %}

{% block content.technologies %}
                   
<ul class="tech_icons">
    <li class="tech large ios6"></li>
    <li class="tech large android"></li>
</ul>

{% endblock content.technologies %}
{% block content.idea %}
    <p>Create a simple app to make running errands and sharing shopping lists easier for everyone in the family.</p>
{% endblock content.idea %}
{% block content.solution %}
    <p>
    Need Anything is a convenient and intuitive iPhone and Android app that makes running errands easier by sending alerts to your smartphone right when you need them. Need Anything helps you compile shopping lists, share them with family members, and send reminders to pick up certain items when you – or your family member -- is in the store. 
    </p>
    <p>
    Not only does Need Anything make communication among family members easier by allowing anyone to simply add an item to a shared shopping list, but through advanced geolocation technology, the Need Anything app makes sure you never forget an item by sending reminders about specific items on your shared list when you are in the right store. 
    </p>
    <p>
    With Need Anything, you can avoid that second trip to a store for a forgotten item.  
    </p>
{% endblock content.solution %}


