{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header sandiego-museum"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Create an app for The San Diego Museum of Art that would completely transform a visit into an unforgettable experience.</p>
{% endblock content.idea %}
{% block content.technologies %}
    <p>
    Advanced hardware and software were used to create this multi-functional app, including a combination of Bluetooth beacons inside the museum and geolocation technology to detect exactly where each visitor is located. The culmination of these technologies gives visitors a highly personalized and magical museum experience that surpasses all others. 
    </p>

<h2 style="margin-top: 40px">We Won! Most Innovative Product 2016.</h2>
<p>
    Guru is thrilled and honored to announce the selection of our <a href="http://theguru.us12.list-manage.com/track/click?u=5fc2e383893517ef0cc749571&id=b3f73b0599&e=022c7601bf" style="font-weight: bold; font-size: 13pt" target="_blank">San Diego Museum of Art app</a> as winner of <a href="http://theguru.us12.list-manage1.com/track/click?u=5fc2e383893517ef0cc749571&id=c2c22dd63a&e=022c7601bf" style="font-weight: bold; font-size: 13pt" target="_blank">CONNECT's 29th Annual Most Innovative New Product Award</a> in the category of Software, Digital Media and Mobile Apps.
    <br/><br/>
    The award is particularly gratifying as it honors and recognizes our co-winner and partner, <a href="http://theguru.us12.list-manage.com/track/click?u=5fc2e383893517ef0cc749571&id=eaaec089ef&e=022c7601bf" style="font-weight: bold; font-size: 13pt" target="_blank">San Diego Museum of Art</a>, for its team's leap of faith in choosing to work with us. Together we are recreating the way 21st-century visitors experience museums!</p>
</p>
{% endblock content.technologies %}
{% block content.solution %}

                    <p>The San Diego Museum of Art App will transform your art museum experience into something you will never forget. 
                    </p>
                    <p>
                    Key features of the app include:
                    <ul class="circle--list">
                        <li>audio tours based on your location in the museum
                        <li>videos that dive deeper into the fascinating history or fun facts about an artist’s life
                        <li> a behind-the-scenes, VIP look at the museum itself 
                        <li>an augmented reality feature to help really bring the museum’s masterpieces to life
                    </ul>
                    </p>
                    <p>
                    This app also helps you navigate your way throughout the museum -- even allowing you to create a custom itinerary based on your preferences or setting your audio tour to another language to enjoy your tour in your native tongue. As you approach each new work of art, information related to that item pops up automatically. Don’t have time to read up on all the near information? Use the app’s “favorite” function to save items to learn more about later. </p>

<h2 style="margin-top: 40px">Fun for All Ages</h2>
<p>
The San Diego Museum of Art app is also a great platform for kids to learn about art interactively. With trivia games and treasure hunts, kids and adults alike can experience the San Diego Museum of Art in a whole new way. The app even pays for itself with special discounts and coupons available for food and merchandise purchases throughout the museum. Plus, if you want to know more about upcoming events or future exhibits at the museum, the app sends you alerts when fun events are coming up.
{% endblock content.solution %}
{% block content.bottom %}



            <div class="wrapper">
                <h1>Download</h1>
               
                 <div class="tight">
                    <div class="column1">
                        <div class="download_box">
                            <h3>Download iPhone App</h3>
                            <ul>
                                <li><a href="https://itunes.apple.com/us/app/the-san-diego-museum-of-art-app/id1006902485?mt=8" target="_blank">San Diego Museum of Art App</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="download_box">
                            <h3>Download Android App</h3>
                            <ul>
                                <li><a href="https://play.google.com/store/apps/details?id=co.theguru.sdmofa" target="_blank">San Diego Museum of Art App</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content.bottom %}

