{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header socialjane"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Complete a social networking site designed for women.</p>

{% endblock content.idea %}
{% block content.technologies %}
                <ul class="tech_icons">
                    <li class="tech large mysql"></li>

                    <li class="tech large linux"></li>

                    <li class="tech large apache"></li>
                    <li class="tech large jquery"></li>
                    <li class="tech large php5"></li>

                </ul>
{% endblock content.technologies %}
{% block content.solution %}
                    <p>To help women find other members who have like-minded ideas and similar interests, we developed questionnaires that take into account everything from hobbies to astrological sign to social habits. We gave users the ability to fill out as much or as little information as they would like. Once a profile is completed, we use that data and geo-location tools to match them with other members in their area. To protect the site from spam and unwanted solicitations we incorporated permissions during the completion of each step required to create a member profile.</p>

     
                    <p>We built-in a messaging platform so members could easily reach out and connect with each other. The site operates as a subscription-based model, so we included transaction tools to handle payments. We included a content management system that supports multiple users to help facilitate the creation of blog posts and articles.</p>

{% endblock content.solution %}
{% block content.bottom %}

            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="http://www.socialjane.com"><img src="{% static "img/icon_www.png" %}"><br>Socialjane.com</a></div>






                </div>
            </div>
{% endblock content.bottom %}
