{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header spendit"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Idea</h2>
                <div>
                    <p>To create a fun, all ages lifestyle app designed to allow users to dream up how they would spend 

money if they had an unlimited amount of funds to access and use each day.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large ios6"></li>


                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>$pend it encourages users to stretch their imaginations by playing a fun game with gobs of

virtual money. On the $pend it app, players can deposit an unlimited amount of funds into a 

virtual account to purchase anything from homes, furniture, accessories, food, entertainment, 

party supplies, and more. Users can fill up a vision board complete with illustrations of their 

wildest dreams and goals, and make purchases on everything imaginable, including dream 

homes, vacations, charitable donations, or even non-tangible items, like good health and 

relationships. </p>

                </div>
            </div>
            <div class="column2">
                <div><p>Another key feature of the app is a personal affirmations section that allows

the app’s users to write positive statements, thanksgivings, or inspirational quotes to remind 

themselves of all they’re grateful for in their real lives each day. The $pend it app makes the 

impossible possible and is ideal app for the dreamer in everyone.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="https://itunes.apple.com/us/app/id916714321"><img src="{% static "img/icon_www.png" %}"><br>iOS SpendIt App</a></div>






                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

