{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header tdg"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Challenge</h2>
                <div>
                    <p>Build an all-inclusive app to connect different types of fans with

                    events occurring at TD Garden arena year-round.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large mysql"></li>
                    <li class="tech large linux"></li>
                    <li class="tech large java"></li>
                    <li class="tech large android"></li>
                    <li class="tech large python"></li>
                    <li class="tech large celery"></li>
                    <li class="tech large ios6"></li>
                    <li class="tech large django"></li>

                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>We designed and built the Official App for TD Garden arena in

                    Boston, Massachusetts. TD Garden is the home of the Boston Celtics and 

                    Boston Bruins. It also hosts various other professional and NCAA sporting 

                    events including MMA, Figure Skating, Professional Wrestling and many 

                    others. In addition to sports the arena hosts concerts and special events 

                    throughout the year, totaling over 3.5 million visitors annually.</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p>The Official TD Garden app allows users to view real-time scheduling, buy

                    tickets, stream video, and access directions or parking information for the 

                    various events. Users can also access specific seating information, find 

                    local restaurants around the venue and receive notifications for specific 

                    events and promotions occurring at the arena. The app also includes a 

                    unique professional networking feature, allowing fans within TD Garden 

                    seating and suite areas to connect with each other for greater business 

                    and networking opportunities. As safety feature the app also allows fans 

                    to directly connect with event personnel in the event of an emergency or 

                    disturbance.

                    Each NBA application is compatible with iPhone and Android devices.</p>

                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">

        </div>
    </div>

</div>
{% endblock content %}

