{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header telvise"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Challenge</h2>
                <div>
                    <p>Pre-roll commercials and pop-up ads online are disruptive, obnoxious and ineffective. Telvise challenged I2A Solutions to devise a way for businesses and marketers to better target theircustomer in a more engaging, relevant way, while also incentivizing all parties involved in the process.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large mysql"></li>

                    <li class="tech large linux"></li>

                    <li class="tech large apache"></li>
                    <li class="tech large jquery"></li>
                    <li class="tech large django"></li>

                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>To answer the call, I2A Solutions created an e-commerce video sharing platform where anyone 

can create a channel, upload videos featuring brands and products, or search and shop for 

products they’re specifically seeking. Using tags of the products showcased in the video, buyers 

can enjoy a live demo of the specific product they searched for or simply enjoy an uninterrupted 

entertainment experience of brands that are relevant to their interests and lifestyle. 

Video publishers can earn money by bringing their own products to life through the power of 

video, or they can earn commissions from other brands by tagging products featured in their 

videos. Video makers simply upload a video they created to Telvise’s website, tag products 

featured in their video, and enjoy the commissions or sales that resulted from their creativity.</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p>Users can also easily share their videos by embedding them on their own websites or spreading 

them across social media channels to share their shoppable videos with everyone in their 

network. 

For merchants, Telvise is a low-cost advertising and marketing tool that brands only have to pay 

for when their product is sold. Not only can brands lessen their advertising expenditures through 

the use of these burgeoning videographers on Telvise, but they can also test what storylines and 

styles appeal to their customer base most without the costly expense of placing advertisements. 

They only pay for product sales, making the online platform a no brainer for brands and 

marketers alike. Buyers win, videographers win, and merchants win with Telvise.</p>

                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="http://www.telvise.com"><img src="{% static "img/icon_www.png" %}"><br>telvise.com</a></div>






                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

