{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header trackmeet"></div>
{% endblock header %}
{% block add_meta %}
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{% endblock add_meta %}

{% block content.idea %}
                    <p>Create an app that streamlines the track and field meet experience for athletes, fans, coaches and organizers alike. </p>
{% endblock content.idea %}
{% block content.technologies %}

    <ul class="tech_icons">
                    <li class="tech large android"></li>
                    <li class="tech large ios6"></li>
                </ul>    


{% endblock content.technologies %}
{% block content.solution %}

                    <p>Track Meet Mobile is one of the top track and field meet apps available on the market for athletes, coaches, fans and meet hosts alike. The free app works in conjunction with HY-TEK’s Track & Field Meet Manager software to allow hosts to easily publish changes to meet programs, results and lineups in real-time and ensure fans get accurate, up-to-the-minute updates about their favorite athletes and teams. </p>
                    <h5>Great for Fans</h5>
                    <p>Track Meet Mobile gives fans access to all of the information they need to know about a track meet right at their fingertips. The app allows fans to:</p>
                    <ul class="list">
                        <li>search for upcoming meets</li>
                        <li>review programs</li>
                        <li>map out track meet locations</li>
                        <li>view real-time data on scheduled order of events</li>
                        <li>athlete statistics</li>
                        <li>team rankings</li>
                    </ul>
                    <p>Fans can even flag their favorite athletes and teams to personalize their experience or view overall athlete and team rankings for each round of events. </p>
                    <h5>Useful for Meet Organizers</h5>
                    <p>Planning and organizing a track meet has never been easier thanks to the endless capabilities offered by Track Meet Mobile. Officials and meet hosts can publish results, push out event schedules and distribute team rosters and performance sheet information quickly and easily. Results can even be categorized by groups, such as age. Also, by giving fans the ability to share results instantly via email, text or social media, event organizers can gain more exposure for their event without any additional effort or expenditures.  </p>
                    <h5>Scoping Out the Competition</h5>
                    <p>Coaches and athletes too can benefit by checking wind readings and field series information, scoping out their competition by viewing athlete or team improvement from round to round, as well as, see records and time/mark standards for specific events.  </p>
                    


{% endblock content.solution %}
{% block content.bottom %}



            <div class="wrapper">
                <h1>Download</h1>
                <div class="tight">
                    <div class="column1">
                        <div class="download_box">
                            <h3>Download iPhone Apps</h3>
                            <ul>
                                <li><a href="https://itunes.apple.com/us/app/track-meet-mobile-view-track/id982356677?mt=8" target="_blank">Track Meet Mobile</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="download_box">
                            <h3>Download Android Apps</h3>
                            <ul>
                               <li><a href="https://play.google.com/store/apps/details?id=com.active.aps.trackandfield" target="_blank">Track Meet Mobile</a></li>
                               
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content.bottom %}

