{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header trekadoo"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Comprise a streamlined, all-encompassing and automated solution that allows vacation rental owners to manage vacation rental reservations quickly, easily and virtually using a comprehensive mobile and web-based app.</p>

{% endblock content.idea %}
{% block content.technologies %}
                <ul class="tech_icons">
                    <li class="tech large linux"></li>
                    <li class="tech large java"></li>
                    <li class="tech large python"></li>
                    <li class="tech large apache"></li>
                    <li class="tech large postgresql"></li>


                </ul>
{% endblock content.technologies %}
{% block content.solution %}
                    <p>Trekadoo makes it easy for vacation rental owners to place and process reservations instantly, manage booked accounts seamlessly, and organize vital customer information all with just a few clicks of a button. With Trekadoo, vacation home owners with eight or fewer properties for rent can utilize the app’s online booking capabilities, automated calendars, inquiry auto-responders, and secure payment tool to whittle time-consuming tasks and mounds of paperwork down to a one-stop virtual activity. </p>


                    <p>Trekadoo’s auto-updating calendar, which syncs across multiple vacation rental listing sites, allows vacation rental customers to see real time availability and book instantly. The app’s easy payment collection system makes money management a breeze with online credit card processing, one-click deposit returns, and simple cash flow reports to keep vacation home owners on track with payments and processing. Plus, users can manage everything from their reservations, payments, calendars, reports, and calendars right from the home page in just one click.</p><p>
In addition to its value to vacation rental owners, customers too can benefit by seeing what dates are available in real time and enjoy an easy 4-step checkout process that is similar to booking a hotel room or flight online. Save time and manage your bookings from anywhere with Trekadoo.
</p>

{% endblock content.solution %}
{% block content.bottom %}
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="http://www.trekadoo.com" target="_blank"><img src="{% static "img/icon_www.png" %}"><br>trekadoo.com</a></div>






                </div>
            </div>

{% endblock content.bottom %}

