{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header trekadoo"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Portfolio</div>
            <div style="clear:both;"></div>
            <div class="column1">
                <h2>Challenge</h2>
                <div>
                    <p>Another key feature of the app is a personal affirmations section that allows

the app’s users to write positive statements, thanksgivings, or inspirational quotes to remind 

themselves of all they’re grateful for in their real lives each day. The $pend it app makes the 

impossible possible and is ideal app for the dreamer in everyone.</p>

                </div>
            </div>
            <div class="column2">
                <h2>Technologies used</h2>
                <ul class="tech_icons">
                    <li class="tech large linux"></li>
                    <li class="tech large java"></li>
                    <li class="tech large python"></li>
                    <li class="tech large apache"></li>
                    <li class="tech large postgresql"></li>


                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2>Solution</h2>
            <div class="column1">
                <div>
                    <p>Another key feature of the app is a personal affirmations section that allows

the app’s users to write positive statements, thanksgivings, or inspirational quotes to remind 

themselves of all they’re grateful for in their real lives each day. The $pend it app makes the 

impossible possible and is ideal app for the dreamer in everyone.</p>

                </div>
            </div>
            <div class="column2">
                <div>
                    <p>The app’s

easy payment collection system makes money management a breeze with online credit card 

processing, one-click deposit returns, and simple cash flow reports to keep vacation home 

owners on track with payments and processing. Plus, users can manage everything from their 

reservations, payments, calendars, reports, and calendars right from the home page in just one 

In addition to its value to vacation rental owners, customers too can benefit by seeing what dates 

are available in real time and enjoy an easy 4-step checkout process that is similar to booking a 

hotel room or flight online. Save time and manage your bookings from anywhere with Trekadoo.</p>

                </div>
            </div>
        </div>

    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="http://www.trekadoo.com"><img src="{% static "img/icon_www.png" %}"><br>trekadoo.com</a></div>






                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

