{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header tb_ad"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Create an ad platform that allows advertisers to send targeted ads to consumers who use travel-related web-based and mobile applications.</p>

{% endblock content.idea %}
{% block content.technologies %}
                <ul class="tech_icons">
                    <li class="tech large linux"></li>
                    <li class="tech large java"></li>
                    <li class="tech large python"></li>
                    <li class="tech large apache"></li>
                    <li class="tech large postgresql"></li>


                </ul>
{% endblock content.technologies %}
{% block content.solution %}
                    <p>We built an easy to use self-service ad platform that allows businesses to target travel enthusiasts based on destinations and trip preferences. We created an easy-to-use system that developers of travel-based mobile and web-based app can use to register their apps for possible advertising opportunities. Advertisers utilize the system to send targeted ads to users of travel-related mobile apps or web-based apps. They can also set parameters for how much they want to spend on a campaign and use their own graphic or text-based banner ads.</p>


                    <p>In addition to specific travel parameters, advertisers can target ads to be delivered to users based on gender, age, and interest. To help accurately measure a campaign’s performance, we included the ability to run reports using the included analytic tools. Agencies will appreciate that the system works well with third party tools such as DART reporting.</p>

 {% endblock content.solution %}
{% block content.bottom %}
            <div class="wrapper">
                <h1>Website</h1>
                <div class="tight">


                    <div class="centered"><a href="http://www.tripbucket.com"><img src="{% static "img/icon_www.png" %}"><br>tripbucket.com</a></div>






                </div>
            </div>

{% endblock content.bottom %}
