{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header usnp"></div>
{% endblock header %}

{% block content.idea %}
                    <p>Create an interactive mobile guide to all 401 official U.S. National Parks, National Monuments, Historic Sites and National Preserves across America, as well as include thousands of outdoor activities to enjoy both inside and outside each National Park System unit. </p>
{% endblock content.idea %}
{% block content.technologies %}

-     


{% endblock content.technologies %}
{% block content.solution %}

                    <p>Nature lovers and outdoor adventure-seekers can now access an all-encompassing guide to America’s most prized natural wonders, including national parks, nature preserves, monuments and historic sites, as well as fun outdoor activities associated with each. U.S. National Parks by TripBucket offers a convenient way to plan trips to national parks, catch up on the latest national park information, events and news, and map out itineraries, directions and “must visit” park features.</p><p>
Know what to expect on your next national park visit through traveler reviews and relevant articles, photos highlighting each park’s main features, and live local weather data; share your experience with friends through photos, reviews and ratings for each location you visit; and track your travels by collecting stamps from each national site you visit. </p><p>
U.S. National Parks by TripBucket is your ultimate navigational and trip-planning guide thanks to its detailed mapping and directional capabilities, category filter tool and personal itinerary-building and tracking feature. In addition to searching for parks by popularity, users can also search by activity, such as hiking, cycling or camping, or by special feature, such as ghost towns or U.S. Civil War sites. </p><p>
Users must be 17 years or older to download this app. U.S. National Parks by TripBucket is compatible with iPhone, iPad and iPod Touch and requires iOS 6.0 or later. 
</p>
                    


{% endblock content.solution %}
{% block content.bottom %}



            <div class="wrapper">
                <h1>Download</h1>
                <div class="tight">
    
                        <div class="centered download_box">
                            <h3>Download iPhone Apps</h3>
                            <ul>
                                <li><a href="https://itunes.apple.com/us/app/us-national-parks-by-tripbucket/id688735038?mt=8">U.S. National Parks by TripBucket</a></li>

                            </ul>
                        </div>
                </div>
            </div>

{% endblock content.bottom %}

