{% extends "base_portfolio.html" %}
{% load staticfiles %}

{% block header %}
<div class="header venissimo"></div>
{% endblock header %}

{% block content.technologies %}
                   
<ul class="tech_icons">
    <li class="tech large ios6"></li>
    <li class="tech large android"></li>
</ul>

{% endblock content.technologies %}
{% block content.idea %}

                    <p> Create a vast mobile cheese database for cheese lovers and Venissimo Cheese customers.</p>
{% endblock content.idea %}
{% block content.solution %}
<p>
    The Venissimo Cheese App contains a wealth of information about gourmet and artisanal cheeses from around the world – perfect for the cheese connoisseur, sommelier, restaurateur, chef, and novice cheese lover alike. The app houses a database of around 1,600 different types of cheeses, each with its own profile complete with photos, descriptions, regions of origin and ideal food and drink pairings to try.

</p>
<p>
Like fine wines, gourmet cheeses come in a variety of flavor profiles and personalities that can be fun to learn about. Users can keep track of their favorite cheeses and refer back to the app when they’re ready to make a purchase at the Venissimo store, or they can simply educate themselves about the intricacies of different cheeses, their origins, and best paired wines or dishes by perusing the database. 
</p>
<p>
A handy app to have on hand in a restaurant, the Venissimo Cheese App allows users to easily save their favorite cheeses they tasted or quickly search for the correct pronunciation or description of a specific cheese to wow their dinner guests.
    </p>
{% endblock content.solution %}
{% block content.bottom %}
            <div class="wrapper">
                <h1>Download</h1>
               
                 <div class="tight">
                    <div class="column1">
                        <div class="download_box">
                            <h3>Download iPhone App</h3>
                            <ul>
                                <li><a href="https://itunes.apple.com/pl/app/venissimo-cheese-mobile-app/id1038923531?mt=8" target="_blank">Venissimo Cheese App</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="download_box">
                            <h3>Download Android App</h3>
                            <ul>
                                <li><a href="https://play.google.com/store/apps/details?id=com.i2asolutions.cheeseapp" target="_blank">Venissimo Cheese App</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content.bottom %}

