{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header ad"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Web Application Development</div>
            <div style="clear:both;"></div>
            <h2>Ad delivery</h2>
            <div>
                <p>We create mobile marketing and social media marketing solutions that provides advertisers (small businesses, agencies, and marketers) the ability to target a specific customer based on their location or specific application platforms (sports, travel, etc.). Our easy to use solutions handle all types of ad types - banners, interstitials and video ads.</p>
            </div>
            <div class="images_box4">
                <a href="{% url "portfolio-tripbucket_ad" %}"><img src="{% static "img/img_tb_ad.png" %}" /></a>
                <a href="{% url "portfolio-atnt" %}"><img src="{% static "img/img_atnt.png" %}" /></a>
                <a href="{% url "portfolio-fanserv" %}"><img src="{% static "img/img_fanserv.png" %}" /></a>
                <a href="{% url "portfolio-moasis" %}"><img src="{% static "img/img_moasis.png" %}" /></a>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <div class="column1">

                    <h3>Easy Integrations</h3>
                    <p>It can be easily integrated with different internet content platforms, especially online video players. It provides detailed reporting on impressions, clicks and click-through rate by advertiser, campaign, creative, player and date. The ad server provides a full array of targeting and delivery parameters.</p>
                </div>
                <div class="column2">

                    <h3>Extending Ad Options</h3>
                    <p>Our expertise goes beyond delivering location-specific ads, we also built-in the flexibility to integrate additional features into the ad such as the ability to place a call, see a location on a map, or even use a coupon.</p>
                </div>
                <div class="column1 sep">

                    <h3>Targeting</h3>
                    <p>In addition to location parameters, users of the system can target consumers with specific interests. By implementing an auction-based bidding system companies can also decide how much they want to spend to achieve the reach they want. Our solutions allow a publisher to manage any number of advertisers and campaigns using fixed price, CPM or CPC ad models.</p>
                </div>

                <div class="column2 sep">

                    <h3>Reporting</h3>
                    <p>Our solutions provides detailed reporting on impressions, clicks and click-through rate by advertiser, campaign, creative, player and date..</p>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock content %}
