{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Web Application Development</div>
            <div style="clear:both;"></div>
            <h2>Digital Asset Management</h2>
            <div>
                <p>We know how to implement and how to customize web applications to meet your company’s specific needs, so you can start with a system that’s robust and scalable. We will evaluate the data that needs to be acquired, how it needs to be accessed, and how that data will evolve over time. Whether you’re already utilizing cloud computing or want to migrate existing data to a cloud computing architecture, we can help you centralize your data with minimal support required by your existing development team.</p>
            </div>
            <div class="images_box4">
                <a href="{% url "portfolio-tripbucket_web" %}"><img src="{% static "img/img_tripbucket.png" %}" /></a>
                <a href="{% url "portfolio-mom" %}"><img src="{% static "img/img_mom.png" %}" /></a>
                <a href="{% url "portfolio-independa" %}"><img src="{% static "img/img_independa.png" %}" /></a>
                <a href="{% url "portfolio-moasis" %}"><img src="{% static "img/img_moasis.png" %}" /></a>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <div class="column1">

                    <h3>Social Media Tools and Community Building</h3>
                    <p>We can create digital rights control solutions that help protect and monitor your intellectual property. We also help content providers set and manage permissions to make media content access and distribution transparent and adjustable while ensuring due IP protection.</p>
                </div>
                <div class="column2">

                    <h3>Digital Rights Control and Management</h3>
                    <p>i2a Solutions is an expert in building cutting-edge social and collaboration web 2.0 solutions, including those allowing users to upload, create, share and sell all types of digital content such as video, audio, documents, images, and even software in an easy, convenient and secure environment.</p>
                </div>
                <div class="column1 sep">

                    <h3>Advertisement Management</h3>
                    <p>We deliver ad management solutions to help create, manage, rotate, bill, track and monitor advertisements across your Internet resources and third party networks. We create flexible tools that allow dynamic ad placement, delivering discreet, personalized, and timely ads to the refined and predictable target audience.</p>
                </div>
                <div class="column2 sep">

                    <h3>Content Exchange and Delivery Social Networking Applications</h3>
                    <p>Successful social networking applications are often designed around exchanging media content. Our extensive expertise in building scalable solutions that can manage, store, and deliver large volumes of data is a key differentiator when it comes to developing a robust social network platform.</p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

