{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header enterprise"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Enterprise</div>
            <div style="clear:both;"></div>
            <h2>Enterprise Application Development</h2>
            <div>
                <p>Your enterprise may have an idea for an application that provides a service to external customers or unique processes that serve as a competitive advantage. Developing an application requires more than programming skills. We serve as your partner and technical consultant, and take full responsibility for the success of your development project, allowing you to rest easy knowing that your project is in good hands.
<br><br>
Between the idea and the deliverable are several steps, each crucial to the successful development of your application. Outsourcing your business application development to i2a Solutions gives you access to a complete development team with expertise in every step of the development lifecycle.</p>
            </div>
            <div class="images_box4">
                <a href="{% url "portfolio-salesforce" %}"><img src="{% static "img/img_salesforce.png" %}" /></a>
                <a href="{% url "portfolio-nba_dev" %}"><img src="{% static "img/img_nbapd.png" %}" /></a>
                <a href="{% url "portfolio-atnt" %}"><img src="{% static "img/img_atnt.png" %}" /></a>
                <a href="{% url "portfolio-independa" %}"><img src="{% static "img/img_independa.png" %}" /></a>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <div class="column1">
                    
                    <h3>We develop a variety of web and mobile solutions, such as:</h3>
                    <p><ul><li>SaaS Application Customization</li>
<li>Corporate portals</li>
<li>Data warehousing and visualization applications</li>
<li>Workflow and document/asset management applications</li>
<li>Custom auction and e-commerce websites</li></ul></p>
                </div>
                <div class="column2">
                    
                    <h3>We can also help support your existing software with the following services:</h3>
                    <p><ul><li>Application integration with business partners</li>
<li>Migration and porting to new platforms</li>
<li>Customization and creating new functionality</li>
<li>Maintenance, including selecting and implementing monitoring tools</li>
<li>Performance audit and optimization</li></ul></p>
                </div>
               

            </div>
        </div>
    </div>
</div>
{% endblock content %}

