{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header mobile"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Web Application Development</div>
            <div style="clear:both;"></div>
            <h2>Mobile Application Development</h2>
            <div>
                <p>i2a Solutions is an app development company that creates a variety of specific mobile applications for iPhone, iPad, Android, Microsoft, and BlackBerry platforms. We have expertise building standalone mobile applications that utilize the latest technologies (geo-coding, mapping, imaging, secure data protocols, etc.) and work with all the standardized API’s such as Yelp, Facebook, FourSquare, and Google Location so we can help you integrate popular social networking sites and existing location-based applications into your mobile product.<br><br>

                Whether you have a web application that needs to go mobile or a concept for a standalone mobile application, we can help you make your mark in the mobile marketplace. If your company wants to create a mobile version of an existing web application, we will help you determine the features that will translate well into the mobile space and build a unique application that seamlessly integrates into your existing system. Conversely, if you have a concept for a standalone mobile application we can build that too.</p>
            </div>
            <div class="images_box4">
                <a href="{% url "portfolio-nhl" %}"><img src="{% static "img/img_nhl.png" %}" /></a>
                <a href="{% url "portfolio-tripbucket_mobile" %}"><img src="{% static "img/img_tripbucket_mobile.png" %}" /></a>
                <a href="{% url "portfolio-mobile_check" %}"><img src="{% static "img/img_mobilecheck.png" %}" /></a>
                <a href="{% url "portfolio-nba" %}"><img src="{% static "img/img_nba.png" %}" /></a>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <div class="column1">

                    <h3>iPad/iPhone App Development</h3>
                    <p>We create compelling iPhone applications using our expertise working with tools such as Xcode and Objective C. Our mobile app developers are also well versed in the latest iOS SDK and can create new applications for Apple’s iPad or upscale existing iPhone applications to work on the iPad. Additionally, once we develop an application we’ll help you get the application accepted and distributed in Apple’s iTunes Store.</p>
                </div>
                <div class="column2">

                    <h3>Android App Development</h3>
                    <p>Android is the most dominant smartphone platform in the world, with over 190 million devices in use and growing. Our Android app development team utilizes Google’s Android SDK platform that are robust and easy to upgrade to work with the company’s fairly frequent release of new OS versions. We use our app development expertise to help clients penetrate the Android ecosystem by building custom native and web applications. We will also help the Android application promoted in the Google Play!</p>
                </div>
                <div class="column1 sep">

                    <h3>BlackBerry Mobile App Development</h3>
                    <p>We use Java ME and BlackBerry SDK to develop applications for the BlackBerry OS to be featured in the BlackBerry App World. Using our extensive knowledge of security protocols we can also build enterprise-class applications that work with RIM’s BES.</p>
                </div>

                <div class="column2 sep">

                    <h3>Microsoft Windows Phone App Development</h3>
                    <p>We can get your company ahead of the curve by building mobile applications for Windows Phone. Our developers are skilled at mobile app development using the Microsoft .NET Framework and C++ for Microsoft’s Windows Phones.</p>
                </div>
                <div class="column1 sep">

                    <h3> Nokia’s Symbian OS Mobile App Development</h3>

                    <p>We use the Symbian Series 60 SDK to build mobile applications that work with Nokia’s Symbian OS. Our developers also work with Java ME APIs to create and deliver rich e-commerce applications.</p>
                </div>

                <div class="column2 sep">

                    <h3>Mobile Web Solutions</h3>
                    <p>We can design your website to work well on most of the major mobile app development platforms. Web applications and mobile websites are a flexible, cost-effective solution for translating your brand to mobile. By fashioning sites in HTML5 and modern Javascript frameworks, we can rival native software expectations for the iPhone, iPad, Android, and BlackBerry.</p>
                </div>

                <div class="sep">
                    <h2>Hybrid Mobile Application Development</h2>
                    <p>In addition to native and mobile web-based app development, we also create hybrid applications. These applications are a combination of mobile web-based apps and native apps that are more affordable and can go to market faster. Hybrid mobile application development will also work on multiple platforms so it can be rolled out to multiple stores simultaneously.</p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

