{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<div class="header scheduling"></div>
{% endblock header %}
{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Scheduling & Alerting Applications</div>
            <div style="clear:both;"></div>
            <h2>Scheduling & Alerting Applications</h2>
            <div>
                <p>Many companies, large and small, have unique needs for online scheduling applications or workforce management issues that a web or mobile applications will solve. i2a Solutions has worked diligently to provide custom development services where required to support these types of scenarios.</p>
            </div>
            <div class="images_box4">
                <a href="{% url "portfolio-mom" %}"><img src="{% static "img/img_mom.png" %}" /></a>
                <a href="{% url "portfolio-independa" %}"><img src="{% static "img/img_independa.png" %}" /></a>
                <a href="{% url "portfolio-moasis" %}"><img src="{% static "img/img_moasis.png" %}" /></a>
                <a href="{% url "portfolio-tdg" %}"><img src="{% static "img/img_tdgarden.png" %}" /></a>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <div class="column1">

                    <h3>Many different types of applications</h3>
                    <p>We have designed and developed many types of scheduling and alert applications.</p>
                    <p><ul><li>
                        Airline booking and scheduling applications </li>
                        <li>Scheduling medical appointments </li>
                        <li>Assuring patients take their medicine on time </li>
                        <li>Teaching children how to schedule their task and get awards </li>
                        <li>An enhanced scheduling system for home services </li>
                        <li>Time management system
                    </li></ul>

                    </p>
                </div>
                <div class="column2">

                    <h3>Alerts & notifications</h3>
                    <p>Our schedule solutions utilize many different types of way to alert and notify users of upcoming appointments or issues that have occurred. These range from:.</p>
                    <p><ul>
                        <li>IVR systems to call the users with Text-to-Speech alerts</li>
                        <li>SMS text alerts with ability to send confirmations of receiving alerts</li>
                        <li>Emailing reminders</li>
                        <li>Desktop popup alerts </li></ul>

                    </p>
                </div>
                <div class="column1 sep">

                    <h3>Integration to other online platforms</h3>
                    <p>We have integrated our applications to many different types of 3rd party applications and devices including:</p>
                    <ul><li>
                        Many different types of calendaring applications (Google, Outlook, iCloud, etc.)</li>
                        <li>Social media sites (Facebook, Twitter, etc.)</li>
                        <li>Devices (time clocks, medical devices, monitoring platforms)</li></ul></p>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock content %}

