{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
<div class="header social"></div>
{% endblock header %}
{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Social Media Applications & Social Networking Applications</div>
            <div style="clear:both;"></div>
            <h2>Social Media Applications & Social Networking Applications</h2>
            <div>
                <p>At i2a Solutions, we incorporate all the social media tools needed in mobile and web-based apps without compromising the finished product. We believe there is plenty of room for new and engaging social networking applications to emerge as leaders in the social space and have the expertise to make your vision a reality. We will also provide the tools needed to perform effective social media management.
                <br><br>
                There is a difference between social networking and social media, but both are important when creating web-based applications. Social networking sites require a personal connection while social media sites offer a more public forum. Social networking is a tool people with common interests or goals use to meet online, to exchange ideas, and to share information. Social media is a content sharing platform that people and companies use for promotion and interacting with others.</p>
            </div>
            <div class="images_box4">
                <a href="{% url "portfolio-socialjane" %}"><img src="{% static "img/img_socialjane.png" %}" /></a>
                <a href="{% url "portfolio-tripbucket_web" %}"><img src="{% static "img/img_tripbucket.png" %}" /></a>
                <a href="{% url "portfolio-nba" %}"><img src="{% static "img/img_nba.png" %}" /></a>
                <a href="{% url "portfolio-nhl" %}"><img src="{% static "img/img_nhl.png" %}" /></a>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <div class="column1">

                    <h3>Social Media Tools and Community Building</h3>
                    <p>We create the social media tools your company needs to engage with both general and niche on-line communities. When implementing social media tactics into a website or app we can create unique branding for your online community and seamlessly incorporate compatibility with the most popular social media tools.</p>
                </div>
                <div class="column2">

                    <h3>Social Media Applications and Commerce</h3>
                    <p>Looking to incorporate social commerce features into an existing application or develop a full-size social-based commerce project from the ground up? We can help you integrate web payment systems safely and securely. We work with all the popular payment gateways so you can use the system you prefer.</p>
                </div>
                <div class="column1 sep">

                    <h3>Online Services with Social Media Tools</h3>
                    <p>Social media and social network features can be instrumental in the success of an online service. At i2a Solutions, we have the expertise to develop social-centric online service platforms that are scalable and optimized to provide the tools and features needed for enhanced visibility and a rich user experience.</p>
                </div>
                <div class="column2 sep">

                    <h3>Content Exchange and Delivery Social Networking Applications</h3>
                    <p>Successful social networking applications are often designed around exchanging media content. Our extensive expertise in building scalable solutions that can manage, store, and deliver large volumes of data is a key differentiator when it comes to developing a robust social network platform.</p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

