{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header ad"></div>
{% endblock header %}

{% block content %}
<div class="container2">
    <div class="box_white">
        <div class="wrapper">
            <div class="location">Home Page &gt; Web Application Development</div>
            <div style="clear:both;"></div>
            <h2>Web Application Development</h2>
            <div>
                <p>We know how to implement and how to customize web applications to meet your company’s specific needs, so you can start with a system that’s robust and scalable. We will evaluate the data that needs to be acquired, how it needs to be accessed, and how that data will evolve over time. Whether you’re already utilizing cloud computing or want to migrate existing data to a cloud computing architecture, we can help you centralize your data with minimal support required by your existing development team.</p>
            </div>
            <div class="images_box4">
                <img src="{% static "img/img_mom.png" %}" />
                <img src="{% static "img/img_atnt.png" %}" />
                <img src="{% static "img/img_independa.png" %}" />
                <img src="{% static "img/img_moasis.png" %}" />
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="box_grey">
            <div class="wrapper">
                <div class="column1">
                    <img src="{% static "img/icon_4.png" %}">
                    <h3>Custom Web Application Development</h3>
                    <p>We have successfully completed hundreds of projects of different sizes and complexity in various business and technology domains. We take the unique ideas from our clients and design a solution that will make them a success.</p>
                </div>
                <div class="column2">
                    <img src="{% static "img/icon_5.png" %}">
                    <h3>Software as a Service (SaaS) Applications</h3>
                    <p>We work with our clients to transform their ideas into the highest quality web and mobile applications. We are capable of executing the most complex and ambitious projects, ensuring high solution usability, maintainability, performance, scalability and SEO.</p>
                </div>
                <div class="column1 sep">
                    <img src="{% static "img/icon_6.png" %}">
                    <h3>Usability Design &amp; Optimization</h3>
                    <p>We have successfully completed hundreds of projects of different sizes and complexity in various business and technology domains. We take the unique ideas from our clients and design a solution that will make them a success.</p>
                </div>
                <div class="column2 sep">
                    <img src="{% static "img/icon_7.png" %}">
                    <h3>SEO and SMO</h3>
                    <p>We work with our clients to transform their ideas into the highest quality web and mobile applications. We are capable of executing the most complex and ambitious projects, ensuring high solution usability, maintainability, performance, scalability and SEO.</p>
                </div>
                <div class="sep">
                    <h2>Integration to SaaS Applications</h2>
                    <p>TODO At i2a Solutions we are experts at transforming client ideas into robust consumer and enterprise applications. Our proven team of experts has designed and developed over 250 software products ranging from mobile and web applications to large-scale enterprise class solutions. Our unique breadth of knowledge and experience means we understand system design and develop products that integrate seamlessly with your company's existing infrastructure.

                    We know every product is unique and demands a customized design and development approach.</p>
                </div>
            </div>
        </div>
    </div>
</div>{% endblock content %}

