{% extends 'base-portfolio.html' %}


{% block challenge %}
<p>Create a website consumers could use to create a bucket list of dreams and
track, record, and share their experiences with friends and other community
members.</p>
{% endblock %}

{% block solution %}
<p>We created Tripbucket, a community-based travel website, where users can
create a “bucket list” of things they’d like to accomplish that includes anything
from visiting worldwide destinations, trying activities, to attending sporting events
and annual or monumental events. The site provides information needed to help
make the “bucket list” experience unique and help users realize their dreams.
We used open-source mapping software we added multiple layers to maps and
eliminate unwanted advertising, creating a rich, fluid user experience. To help
users book their trips faster we built-in support for the major travel portals.</p>
<p>In addition to including forum boards, we also built a system that allows users to
create a personality profile and add dreams to the site. Once a profile is created
we auto generate additional activities a member may want to try when in a
specific location. Once on a trip, Tripbucket users can share information about
each destination by adding tips, reviews, things to do, photos, and videos into
an easy to use website. Since this is a community-based site we extend the way
people can share information about their “bucket list” by integrating support for
social media sites like Facebook, Google+, Pinterest, Tumblr and Twitter.</p>
{% endblock %}  

{% block website_url %}http://www.tripbucket.com{% endblock %}
{% block website_anchor %}http://www.tripbucket.com{% endblock %}
