/*css style*/

/*base style*/
html{width:100%;}
body{width:100%;background:#ffffff;color:#455560;padding:0px;margin:0px;font: normal normal normal 12px normal Arial,Tahoma,Verdana;overflow-x:hidden;}
a{text-decoration:none;color:#008aad;}
a:hover{text-decoration: underline;}
ul{padding:0;margin:0;}
img{border:0px;padding:0px;margin:0px;}
p{margin:0px;padding:0px}
table	{margin: 0px; border-collapse: collapse; empty-cells: show; }
td{padding:0px}
input,select,textarea{font-family:Arial,Tahoma,Verdana;font-size:12px;}
input[type=button],input[type=submit]{cursor:pointer;}
input[type=button]:hover,input[type=submit]:hover{opacity:0.9;filter:alpha(opacity=90)}
ul{list-style:none;padding:0;margin:0;}
/*end base style*/

/*tool*/
.clear{clear:both;height:0px;}
.fr{float:right;}
.fl{float:left;}
.no-margin{margin:0;}


.input-txt{font-size:12px;color:#1e344c;font-weight:bold;width:320px;padding:5px;border:#1e344c 2px solid;margin:5px 0 10px 0;}
textarea.input-txt{font-size:14px;color:#1e344c;font-weight:bold;height:70px;width:770px;padding:5px;border:#1e344c 2px solid;margin:5px 0 10px 0;}
textarea.input-txt0{width:590px;}
select.input-txt{width:332px}
select.input-txt80,input.input-txt80{width:80px;}
select.input-txt100,input.input-txt100{width:100px;}
select.input-txt180,input.input-txt180{width:180px;}
select.input-txt250,input.input-txt250{width:270px;}
/**/

.main{width:950px;margin:0px auto;}
.login-box{background:url(images/login-box-bg.gif) top left repeat-x;padding:6px 15px;border:#c3d1d6 1px solid;float:right;font-weight:bold;}
.login-box a{color:#008AAD;cursor:pointer;}
.header li{float:left;margin:-10px 0 15px 0;background:transparent;}
.header h1{font-weight:normal;font-size:22px;margin:35px 0 0 50px;color:#7b8790;}
.slider-bg{background:url(images/main-bg.gif) #0081a4 top left repeat-x;padding:10px 0;}

.menu-out{border-bottom:#3fb6d3 1px dotted;position:relative;z-index:998;}
.nice-menu{font-size:14px;}
.nice-menu li{float:left;text-transform:capitalize;font-weight:bold;padding:5px 30px 5px 0;border-bottom:#3fb6d3 1px solid;margin:0 0 -1px 0;}
.nice-menu a{color:#9deeff;}
.nice-menu li a:hover{text-decoration:none;color:#ffffff}
.nice-menu li li a:hover{text-decoration:none;color:#008AAD}
.nice-menu  a.active{color:#ffffff;font-size:14px;}
.nice-menu .menuparent a.active{font-size:11px;text-decoration:underline;}
.nice-menu .menuparent a.active{/*font-size:11px;*/}
.nice-menu li li a.active{color:#008AAD;}
.nice-menu ul {opacity:0.92;filter:alpha(opacity=92)}

ul.nice-menu-down li{border:transparent 1px solid;background:transparent;padding:0 10px 0 0;}
ul.nice-menu-down li ul,ul.nice-menu-down li:hover ul{border-left:#3FB6D3 1px solid;border-right:#3FB6D3 1px solid;border-bottom:#3FB6D3 1px solid;border-top:0;background:#ffffff}
ul.nice-menu-down li ul ul{}
ul.nice-menu-down li a{}

ul.nice-menu-down li li{padding:3px 0 3px 10px;border-top:#3FB6D3 1px dotted;background:url(images/menu-li.1png) #ffffff 5px center no-repeat;}/*bez tla*/
ul.nice-menu-down li li li{padding:3px 12px;border-top:#3FB6D3 1px dotted;background:url(images/menu-li.1png) #ffffff 5px center no-repeat;}/*bez tla*/
ul.nice-menu-down li ul{padding:0;}
ul.nice-menu-down li li a{color:#008AAD;font-size:11px;font-weight:normal;}
ul.nice-menu-down li li.over, #header-region ul.nice-menu-down li li.menuparent:hover, #header-region ul.nice-menu-down li li.over{background:transparent;border:0;}
/**/
ul.nice-menu-down li li.menuparent:hover,ul.nice-menu-down li li:hover{background:url(images/menu-li.png) #E9E9E9 5px center no-repeat;}
ul.nice-menu-down li li.menuparent, #header-region ul.nice-menu-down li li.menuparent{background:transparent;}
ul.nice-menu-down li li{width:180px;}

ul.nice-menu-down{border-bottom:#3fb6d3 1px solid;margin:0 0 -1px 0;}
ul.nice-menu-down li.menuparent, #header-region ul.nice-menu-down li.menuparent{background:transparent;/**/}
ul.nice-menu-down li.menuparent:hover, ul.nice-menu-down li.over, #header-region ul.nice-menu-down li.menuparent:hover, #header-region ul.nice-menu-down li.over{background:transparent}
ul.nice-menu-down li ul li ul, #header-region ul.nice-menu-down li ul li ul{left:191px;}

.slide h1{font-size:16px;color:#008aad;margin:0 0 10px 0;font-weight:bold;}
.slide .right{width:240px;float:left;}
.slide .right ul{padding-left:18px;margin:10px 0;}
.slide .right li{list-style: disc url();padding:3px 0 3px 0;}
.slide .left{width:656px;height:290px;float:left;margin:0 20px 0 0;border:#dddddd 1px solid;}

.slide .left div{background:#ffffff;opacity:0.8;filter:alpha(opacity=80)}
.slide .left div ul{margin:0 10px;}
.main-adv{background:#ffffff;padding:10px;margin:15px 0 10px 0;height:292px;}
.main-adv .slide .left li{float:right;}
.menu-adv{background:#ffffff;position:absolute;z-index:997;padding:10px;opacity:0.8;filter:alpha(opacity=80);width:636px;margin:1px 0 0 1px;}
.menu-adv img{margin:0 10px;}
.menu-adv a{color:#455560;font-size:14px;font-weight:bold;}
.menu-adv a:hover{text-decoration:none;color:#008AAD}
.menu-adv a.activeSlide{color:#008aad;}
.main-adv li{background:transparent;}
.main-adv .right p{margin-bottom:10px;}
.orange-button{border:#df8e0b 1px solid;color:#ffffff;font-weight:bold;padding:2px 5px;margin-top:10px;background:url(images/orange-button-bg.gif) #FFB027 bottom left repeat-x;}
.main-orange{width:85px;}
.orange-button a{color:#ffffff;}
.orange-button a:hover{text-decoration:none;}

.txt{padding:0;margin:0;}
.txt .node{border:0;margin-bottom:0px;}
.node .content,.clear-block{margin-bottom:0;}
.txt .left h2,.txt h1{color:#008AAD;font-size:18px;font-weight:bold;margin-bottom:10px;}
.txt h3{font-size:14px;font-weight:bold;margin:10px 0 5px 0;}
.txt h2{font-weight:normal;}
.txt .follow{margin:3px 0 10px 0;float:left;}
.follow-container{float:right;margin:0 20px 0 0;}
.txt h2.follow{float:left;margin:3px 10px 10px 0;text-align:right;color:#008AAD;font-weight:bold;font-size:16px;}
.follow li{float:right;margin:0 10px 10px 0;background:transparent;padding:0;}
.txt h1.orange{color:#ff9600;}
.txt .left{width:656px;margin:15px 20px 0 0;float:left;}
.txt .left p{margin:0 0 15px 0;text-align:justify;}
.txt .right{width:250px;float:left;margin:15px 0 0 0;}
.node p{margin: 0 0 15px 0;}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited{background:transparent}
ul.primary-links{float:left}
ul.links li, ul.inline li{border-bottom:1px solid #3FB6D3;float:left;font-weight:bold;margin:0 0 -1px;padding:5px 0px 5px 0;text-transform:capitalize;}

div.follow-us{border:#ADE9F5 1px solid;background:#E9EDEE;padding:10px 20px;width:190px;margin:0 0 10px 10px;}
div.follow-us h2{margin:0;font-weight:bold;color:#00BBE2}
div.follow-us img{width:30px;}
div.follow-us ul.follow{margin:10px 0 0 40px}

h1.menu-left{font-weight:normal;color:#005268;font-size:18px;border-bottom:#9acdd9 2px dotted;margin:10px 0 0 0;padding:0 0 5px 0;}
ul.menu, ul.menu-left{/*font-size:14px;*/padding:5px 0 0 10px;}
ul.menu li, ul.menu-left li{background:transparent;border-bottom:#9acdd9 2px dotted;padding:5px 2px;list-style-position: inside;}
ul.menu li{background:url(images/menu-li.png) left center no-repeat;padding-left:10px;width:225px;}
ul.menu-left li img{margin:0 7px 0 0; }
ul.menu-left li a:hover{text-decoration:none;color:#005268}
ul.menu-left li.active a{color:#005268}

.contact-us{border:#dddddd 1px solid;padding:20px;color:#008aad;width:190px;margin:10px 0 10px 10px}
.contact-us h1{margin:0 0 10px 0;color:#ff9600;}


/*main-form*/
.main-form{text-align:right}
.main-form input[type=text],.form input[type=text]{background:url(images/input-bg.gif) top left repeat-x; padding:3px 2px;border-bottom:#e1e1e1 1px solid;border-top:#848484 1px solid;border-left:#c1c1c1 1px solid;border-right:#c1c1c1 1px solid;width:165px;float:right;margin:0 0 0 10px;cursor:default;}
/*#webform-client-form-27 input[type=submit],#webform-client-form-26 input[type=submit],.main-form input[type=submit],.form input[type=submit]{background:url(images/submit.gif) top left no-repeat;width:57px;height:18px;border:0;}*/
#webform-client-form-27 input[type=submit],#webform-client-form-26 input[type=submit],.main-form input[type=submit],.form input[type=submit]{background:url(images/submit-buttons.png) top left no-repeat;width:72px;height:24px;border:0;margin-top:5px;}
#webform-client-form-27 input[type=submit]:hover,#webform-client-form-26 input[type=submit]:hover,.main-form input[type=submit]:hover,.form input[type=submit]:hover{background-position: 0px -24px;}
.main-form .clear{height:5px;}

/*contact form*/
.form{text-align:left}
input[type=text]{/*float:left;*/background:url(images/input-bg.gif) top left repeat-x; padding:3px 2px;border-bottom:#e1e1e1 1px solid;border-top:#848484 1px solid;border-left:#c1c1c1 1px solid;border-right:#c1c1c1 1px solid;width:410px;margin:5px 0 10px 0;cursor:default;}
textarea{/*float:left;*/background:url(images/input-bg.gif) top left repeat-x; padding:3px 2px;border-bottom:#e1e1e1 1px solid;border-top:#848484 1px solid;border-left:#c1c1c1 1px solid;border-right:#c1c1c1 1px solid;width:410px;height:100px;margin:5px 0 10px 0;cursor:default;}
.form .clear{height:5px;}
sup{color:#ff9600;}

.footer{background:#d1dade;padding:15px 0 25px 0;}
.footer li{padding:0;background:transparent;}
.f-left .m1{margin:0 10px 0 0;}
.f-left li{float:left;}
.f-right li{float:right;}
.f-left span,.f-right span{margin:0 5px;}

.baner{padding:20px;width:910px;height:100px;margin:10px 0}
.baner h1{font-weight:normal;margin:80px 0 0 0;}
.baner h1 a{color:#455560;/*#008aad*/}
.baner h1 a:hover{text-decoration:none;}


#webform-client-form-26 .error,
#webform-client-form-27 .error,
.main-form input.error,.form input.error,.form textarea.error{background:url(images/error.gif) #FFFFB5 top right no-repeat;border-bottom:#e1e1e1 1px solid;border-top:#848484 1px solid;border-left:#c1c1c1 1px solid;border-right:#c1c1c1 1px solid;}
.main-form input.valid,.form input.valid,.form textarea.valid{background:url(images/ok.gif) top right no-repeat;}


.node{padding-top:0;padding-bottom:0;}
.left table{margin-bottom:20px;}
#block-user-0,#user-login-form ul, #dialog h2{display:none;}
#user-login-form label{font-weight:normal;text-align:left;clear:both;}
#user-login-form input[type=text],#user-login-form input[type=password]{float:left;background:url(images/input-bg.gif) top left repeat-x; padding:3px 2px;border-bottom:#e1e1e1 1px solid;border-top:#848484 1px solid;border-left:#c1c1c1 1px solid;border-right:#c1c1c1 1px solid;width:300px;margin:5px 0 10px 0;cursor:default;}
#user-login-form input[type=submit]{background:url(images/submit.gif) no-repeat scroll left top transparent;border:0 none;height:18px;width:57px;float:left;margin:5px 0;}


html.js .resizable-textarea textarea{width:370px;}
.form-button, .form-submit{margin:0;}
.form-item label{font-weight:normal;}
.form-item{margin:0;}
#contact-us-today p{display:none}
#contact-us-today .webform-component{clear:both;margin:0 0 3px 0;}
#contact-us-today .webform-component label{float:left;width:78px;}
#contact-us-today .webform-component input{float:left;width:155px;}
#contact-us-today .form-item{margin: 0 0 5px 0;}
#contact-us-today .clear{height:0;}
#contact-us-today .input[type=text]{margin-top:-5px;}


.site-map-menus .content .site-map-menu{padding:0;}
.site-map-menus li{font-size:12px;}
.site-map-menus li.expanded,.site-map-menus li.expanded{background:transparent;list-style-type:none;list-style-image:url(images);} 
.site-map-menus ul li, .site-map-menus ul.menu li, .site-map-menus .item-list ul li, .site-map-menus li.leaf{background:transparent;}
.site-map-menus ul li.expanded{background:transparent;padding:0 0 0 7px;}
.site-map-menus .site-map-menu li{background:transparent;}
.site-map-menus h2{display:none;}
.site-map-menus ul li.expanded{padding-left:7px;}
.site-map-menu a{font-weight:bold;}
.site-map-menu li li  a{font-weight:normal;} 
.site-map-menus .expanded a{font-weight:bold;}
.site-map-menus ul li.expanded {font-weight:bold;}

.site-map-menu li{list-style: disc url()}

/*1*/
.site-map-menu a{font-weight:bold;font-size:14px;color:#0081A3}
.site-map-menu li{color:#00BBE2;list-style: square url();padding:3px 0  }
/*2*/
.site-map-menu li li a{font-weight:bold;font-size:13px;color:#455560}
.site-map-menu li li{color:#455560;list-style: disc url()}
/*3*/
.site-map-menus .expanded ul li li a{font-weight:normal;font-size:12px;color:#7B8790}

#site-map .site-map-box{margin:20px 0 30px -2.2em;}

#site-map .site-map-box ul{padding-left:3em;}
li a.active{color:#5895BE;font-size:12px;font-weight:bold;}
.field-field-baner{display:none;}

/*portfolio*/
.col-left{width:200px;float:left;margin-right:15px;}
.col-right{}
.col-right ul li{background:transparent;padding:0;margin:10px 0 0 0;}
.portfolio-box{width:275px;height:150px;float:left;margin-bottom:15px;border:#D1DADE 1px solid;padding:15px;}
.portfolio-box h1{text-align:center;font-size:16px;color:#7cbae1;margin:10px 0 ;}
.portfolio-box p{height:60px;color:#acdfff;font-size:12px;margin:10px 0;}
.portfolio-opt li{list-style: none url();float:left;list-style-image: url();font-size:12px;font-weight:bold;}
.portfolio-opt .left-p{width:180px;}
.portfolio-opt .left-p a{color:#7CBAE1;}
.portfolio-opt .right-p{text-align:right;width:95px;color:#7cbae1;}
.portfolio-opt .right-p a{color:#fff;}
.portfolio-opt .left-p a:hover,.portfolio-opt .right-p a:hover{text-decoration:none;}

/**/
.in-portfolio{opacity:0.8;filter:alpha(opacity=90);width:275px;height:150px;padding:15px;margin:-15px 0 0 -15px;background:#000;position:absoulte;display:none;}



.portfolio-box-margin{margin-right:20px;}
.img-box{width:180px;height:105px;border:#D8E5E9 1px solid;background:#EDEEEE;margin:0px auto;}
.more-link{background:url(images/more-portf.png) right 1px  no-repeat;padding-right:15px;color:#007EA0;height:11px;}
.back-link{background:url(images/back.png) top left  no-repeat;padding-left:15px;color:#007EA0;height:11px;font-weight:bold;}

.paginator {font-size:11px;text-align:center;color:#323232;}
.paginator a{margin:0 5px;}
.paginator .inactive{color:#323232;}
.paginator .active{color:#008AAD;}

#project-name{color:#45616F;font-size:16px;}
#project-gallery{margin:15px 0 10px 0;}
#project-gallery img {/*width:100px;*/border:#999999 1px solid;padding:1px;margin:0 10px 0 0;float:left;}
.project ul{padding:0 0 0 20px;}
.project li{list-style-image: url(images/list-r.png);color:#676767}

#block-block-1{display:none;}

  